/*
Theme Name: Responsive
Theme URI: http://cyberchimps.com/responsive-theme/
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 11 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control with easy Logo Upload, Social Networking and Webmaster Tools etc. Responsive is WooCommerce Compatible, Multilingual Ready (WPML), RTL-Language Support, Retina-Ready, Search Engine Friendly, W3C Markup Validated and currently translated into 45 languages. Cross-Browser compatible. <a href="http://cyberchimps.com/forum/free/responsive/">Official support forum</a> (http://cyberchimps.com/forum/free/responsive/)
Author: CyberChimps.com
Author URI: http://cyberchimps.com
Version: 1.9.7.3
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, rtl-language-support, responsive-layout, fluid-layout, featured-images
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: responsive

Responsive WordPress Theme, Copyright (C) 2003-2014 Emil Uzelac, CyberChimps Inc

--------------------------------------------------------------
WARNING: (BEFORE YOU MAKE ANY CHANGES)
--------------------------------------------------------------
Please do not edit style.css or any other Theme files or
Templates directly. If you do, your customizations will be lost
as soon as you update Responsive.

WordPress and CyberChimps highly recommends Child Theme.

Read More:

- http://codex.wordpress.org/Child_Themes
- http://cyberchimps.com/guide/child-theme-example/
- http://cyberchimps.com/guide-tags/child-theme-2/

*/
@charset "utf-8";
/* CSS Document */

ol,ul {
list-style:none;
margin:0px;
padding:0px;
}

a,img a,img,a img {
border:0;
outline:0;
text-decoration:none;
}

.hdclass{
padding:0;
margin:0;
}

form {
border:0;
margin:0;
padding:0;
outline:0;
}

.uli{
padding:0;
margin:0;
list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0px 0 10px;
font-family: inherit;
font-weight: bold;
line-height: 20px;
color: inherit;
}

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
clear: both;
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}

.clearfix:before,
.clearfix:after {
content: '\0020';
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0;
}

.clearfix:after {
clear: both;
}

/* Primary Styles
---------------------------------*/
body {
background:#eeeeee;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#000;
padding:0 0 80px 0;
margin:0;
}

/* Wrapper
---------------------------------*/
.wrapper
{
background:#fff;
width:968px;
margin:0 auto;
direction:rtl;
padding:18px;
position:relative;
box-shadow:0px 0px 10px #e1e1e1;
border-radius:0px 0px 5px 5px;
behavior:url(PIE.htc);
}

.header_top{
padding:12px 0 10px;
overflow:hidden;	
}

.header_top_right_menu{
float:right;
overflow:hidden;
width:400px;
}

.top_right_menu {
padding:0px;
margin:0px;
list-style:none;
}

.top_right_menu li{
float:right;
padding-left:14px;
}

.top_right_menu li a{
color:#797979;
font-size:11px;
}



.header_top_left{
width:494px;
float:right;
overflow:hidden;
position:relative;
z-index:999;
margin-right:74px;
}

.top_left {
padding:0px;
margin:0px;
list-style:none;
}
.top_left li{
color:#797979;
font-size:11px;
float:right;
}

.top_left li span{
color:#80ba10;
font-weight:700;
float:right;
margin:0 5px;
}

.top_left li em{
font-style:normal;
float:right;
}

.top_left li b{
float:right;
font-weight:normal;
margin-right:2px;
}

.top_left li img{
float:right;
margin-right:5px;
}


.banner_area{
background:url(../img/banner_bg.jpg) top center no-repeat;
min-height:121px;
position:relative;
}

.logo{
width:214px;
height:85px;
float:right;
margin:25px 0 12px;
}

.banner_pic{
width:419px;
height:148px;
position:absolute;
left:220px;
top:-25px;
}

.banner_left_box{
width:290px;
float:left;
margin-top:63px;
overflow:hidden;
}

.banner_left_menu{
overflow:hidden;
position:relative;
z-index:999;
padding-bottom:5px;

}

.banner-menu {
padding:0px;
margin:0px;
list-style:none;
}

.banner-menu li{
float:right;
padding:0px 0 2px 8px;
margin-left:5px;
background:url(../img/menu_saper1.png) left center no-repeat;
}

.banner-menu li a{
color:#797979;
font-size:11px;
}

.banner-menu li a:hover, .banner-menu li a.active{
color:#1e7ec1;
font-weight:700;
}


.input_text1{
font-family:Arial, Helvetica, sans-serif;
float:right;
border:1px solid #dadadb;
border-radius:5px;
position:relative;
font-size:large;
font-size:12px;
color:#797979;
width:206px;
padding:3px 9px;
height:16px;
behavior:url(PIE.htc);
}

.no-bg{
background:none !important;
}

.input_btn1{
background:url(../img/input_btn_bg1.png);
width:47px;
height:25px;
border:0;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#fff;
cursor:pointer;
margin-right:10px;
font-weight:700;
}

.main_menu_area{
overflow:hidden;
background:#81bb13;
padding:8px 0;
border-radius:7px;
position:relative;
margin-bottom:10px;
behavior:url(PIE.htc);
}

.main_menu{
padding:0px;
margin:0px;
list-style:none;
float:left;
}
.main_menu li{
float:right;
padding:0 12px 0 16px;
background:url(../img/menu_saper2.png) left center no-repeat;
}

.main_menu li a{
color:#fff;
line-height:16px;
height:16px;
font-size:16px;
font-weight:700;
}

.main_menu2{
overflow:hidden;
margin-bottom:7px;
padding-bottom:7px;
border-bottom:1px solid #d1c6c1;
}

.more_menu{
background:url(../img/click_bg1.png) right center no-repeat;
float:right;
width:103px;
margin-left:10px;
}

.more_menu a{
color:#fff;
font-size:13px;
font-weight:700;
padding:8px 18px 8px 0;
display:block;
}

.sec-nav {
padding:0px;
margin:0px;
list-style:none;
float:left;
}
.sec-nav li {
float:right;
padding:0 0 2px 14px;
margin-left:16px;
background:url(../img/menu_saper3.png) left center no-repeat;
margin-top:10px;
}

.sec-nav li a{
font-size:12px;
color:#919191;
}

.sec-nav li a:hover, .sec-nav li a.active{
color:#81bb13;
}

.sec-nav li:last-child{
margin-left:0;
}

.no-padding{
padding:0 !important;
}

.no-margin{
margin:0 !important;
}

.select_block{
overflow:hidden;

border-bottom:1px solid #d1c6c1;
padding:0 0 8px;
margin-bottom:10px;
}

.select_block h4{	
float:right;
background:url(../img/click_bg2.png) right center no-repeat;
width:104px;
text-align:center;
padding:7px 0;
color:#fff;
font-size:14px;
font-weight:700;
margin-left:5px;
}

.select_box{
float:right;
width:126px;
padding:4px;
margin-left:9px;
border-radius:5px;
position:relative;
border:1px solid #d2d2d2;
behavior:url(PIE.htc);
font-size:12px;
color:#797979;
}

.form_box{
padding-top:4px;
}

.adsense1{
text-align:center;
}

.breadcrumb_area{
padding:6px 0 10px;
border-bottom:1px solid #d1c6c1;
margin-bottom:17px;
overflow:hidden;
}

.main_content{
overflow:hidden;
}

.block1{
margin-bottom:30px;
overflow:hidden;
}

.slide_block{
float:right;
width:473px;
margin-top:5px;
}

.slide_pic1{
float:right;
margin-left:4px;
position:relative;
}

.slide_heading{
background:url(../img/slide_heading_bg.png) left top repeat;
position:absolute;
left:0;
bottom:0;
width:100%;
overflow:hidden;
}

.heading_number{
float:right;
padding:0;
}

.heading_number h1{
line-height:normal;
color:#80ba10;
font-size:59px;
margin-left:10px;
}

.slide_heading h2{
line-height:normal;
font-size:20px;
color:#555555;
padding-top:12px;
}

.slide_heading h4{
line-height:normal;
font-size:15px;
color:#555555;
}

.news_box{
float:right;
margin-right:30px;
width:190px;
}

.news_box h2{
background:url(../img/heading_bg1.png) center center no-repeat;
font-size:17px;
color:#fffefe;
padding:8px 7px 12px 0;
}

.news_box ul li{
border-bottom:1px solid #d1c6c1;
padding:5px 0 10px;
}

.news_box ul li h4{
color:#577bc9;
font-size:12px;
font-weight:700;
}

.news_box ul li h5{
color:#80ba10;
font-size:12px;
}

.text_box1{
color:#797979;
}

.no-bdr{
border:none !important;
}

.cont_box1{
width:250px;
float:right;
padding-right:8px;
border-right:1px solid #d4c9c5;
margin-right:15px;
}

.cont_box1 ul{
padding-bottom:10px;
display:block;
clear:both;
overflow:hidden;
}

.cont_box1 ul li{
background:url(../img/list_border2.png) left center no-repeat;
float:right;
width:62px;
text-align:center;
}

.cont_box1 ul li h4{
padding-bottom:3px;
background:url(../img/list_border1.png) center bottom no-repeat;
font-size:10px;
color:#0072bc;
font-weight:400;
margin-bottom:5px;
margin-top:-5px;
line-height:16px;
}

.message_box{
background:url(../img/message_bg.jpg) left bottom repeat-x;
padding:10px 14px;
border:1px solid  #dbdbdb;
clear:both;
border-radius:7px;
position:relative;
behavior:url(PIE.htc);
overflow:hidden;
margin-right:11px;
}

.message_box h2{
background:url(../img/message_pic.png) left 0 no-repeat;
color:#80ba10;
font-size:14px;
padding-left:60px;
padding-bottom:8px;
line-height:18px;
}

.input_text2{
width:78px;
margin-left:10px;
margin-bottom:7px;
}

.input_text3{
width:120px;
}

.adsense2{
float:right;
width:160px;
height:600px;
}

.info_box1{
width:385px;
float:right;
margin-right:18px;
}

.info_box1 h4{
color:#797979;
font-size:16px;
background:url(../img/heading_border1.png) left bottom no-repeat;
padding-bottom:10px;
position:relative;
z-index:999;
}

.info_box1 h4 i{
color:#577bc9;
font-style:normal;
}

.info_list{
background:#f4f4f4;
border-radius:0 0 0 10px;
margin-top:-6px;
overflow:hidden;
padding-top:10px;
position:relative;
behavior:url(PIE.htc);
}

.info_list ul{
margin-right:5px;
}

.info_list ul li{
float:right;
border-left:1px solid #797979; 
margin:8px 0;
padding:0 7px;
line-height:12px;
}

.info_list ul li a{
color:#797979;
}

.img_box{
width:112px;
float:right;
margin:5px 0 0 15px;
padding:3px;
border:1px solid #d0d6d6;
line-height:1%;
}

.img_info{
overflow:hidden;
}

.img_info h5{
color:#577bc9;
font-size:12px;
}

.info_box1_part{
overflow:hidden;
padding:18px 0 18px;
border-bottom:1px solid #d1c6c1;
}

.img_info ul li{
float:right;
line-height:12px;
color:#80ba10;
font-weight:700;
border-left:1px solid #80ba10;
margin:2px 0 6px 5px;
padding-left:5px;
}

.text_box2{
clear:both;
}

.info_box2 h4{
background:url(../img/heading_border2.png) left bottom no-repeat;
}

.info_box2 h4 i{
color:#8a3066;
}

.info_box3 h4{
background:url(../img/heading_border3.png) left bottom no-repeat;
}

.info_box3 h4 i{
color:#ff7300;
}

.info_box4 h4{
background:url(../img/heading_border4.png) left bottom no-repeat;
}

.info_box4 h4 i{
color:#377374;
}

.no-pad-b{
padding-bottom:0 !important;
}

.info_box5{
width:365px;
float:right;
margin-left:20px;
}

.info_heading{
background:url(../img/heading_border3.png) left bottom no-repeat;
margin-bottom:19px;
padding-bottom:2px;
overflow:hidden;
}

.info_heading h4{
font-size:16px;
color:#ff7300;
padding-bottom:5px;
float:right;
}

.info_box1_part1{
float:right;
width:146px;
padding-left:24px;
border-left:1px solid #d1c6c1;
margin:0 4px 0 24px;
}

.img_box1{
padding:3px;
border:1px solid #d0d6d6;
line-height:1%;
margin-bottom:10px;
}

.img_box2{
width:188px;
height:188px;
border:6px solid #d0d6d6;
float:right;
margin-top:18px;
margin-left:18px;
}

.info_heading1{
background:url(../img/heading_border2.png) left bottom no-repeat;
}

.info_heading1 h4{
color:#8a3066;
}

.info_heading ul{
float:left;
margin-left:10px;
}

.info_heading ul li{
float:right;
border-right:1px solid #797979;
padding-right:10px;
margin:7px 10px 0 0;
line-height:12px;
}

.info_heading ul li a{
color:#797979;
}

.slider_box{
width:580px;
position:relative;
float:right;
}

.info_heading2{
background:url(../img/heading_border4.png) left bottom no-repeat;
}

.info_heading2 h4{
color:#377374;
}

.next1{
width:10px;
height:19px;
background:url(../img/next1.png) left top no-repeat;
position:absolute;
right:0;
top:125px;
}

.prev1{
width:10px;
height:19px;
background:url(../img/prev1.png) left top no-repeat;
position:absolute;
left:0;
top:125px;
}

.slider_part{
padding:0 15px;
}

.slide_cont{
width:176px;
float:right;
margin-left:10px;
}

.slide_img_area{
background:#2647b5 url(../img/slide_img_bg.png) left top repeat-x;
padding:4px 3px;
border-radius:32px 0 34px 0;
position:relative;
behavior:url(PIE.htc);
direction:ltr;
}

.slide_img_area img{
border-radius:31px 0 31px 0;
position:relative;
line-height:1%;
display:block;
behavior:url(PIE.htc);
}

.slide_img_area h4{
direction:rtl;
color:#fff;
font-size:14px;
line-height:18px;
margin-bottom:3px;
padding-right:2px;
}

.slide_cont h2{
float:left;
margin:2px 0 10px;
color:#797979;
font-size:12px;
}

.slide_cont h2 a{
position:relative;
top:5px;
margin-left:4px;
}

.select_box1{
width:175px;
border-radius:5px;
position:relative;
behavior:url(PIE.htc);
border:1px solid #d2d2d2;
padding:4px;
color:#797979;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}

.writers_info{
float:right;
width:363px;
margin-right:24px;
}

.info_heading3{
background:url(../img/heading_border1.png) left bottom no-repeat;
}

.info_heading3 h4{
color:#577bc9;
}

.click1{
color:#797979;
text-decoration:underline;
float:left;
margin:5px 0 0 10px;
}

.img_box3{
width:81px;
text-align:center;
border:1px solid #d2d2d2;
margin:0 7px 12px 0;
float:right;
}

.img_box3 img{
margin:3px 2px 3px;
display:block;

}

.img_box3 h5{
color:#797979;
font-size:12px;
border-top:1px solid #d2d2d2;
background:url(../img/pic_heading_bg.jpg) left bottom repeat-x;
}

.adsense3{
margin-bottom:12px;
}

.adsense4{
float:right;
width:160px;
height:600px;
margin-top:10px;
}

.column1{
width:245px;
float:right;
margin-right:20px;
margin-top:10px;
}

.link_list{
margin-bottom:30px;
}

.link_list_box{
border:1px solid #d2d2d2;
}

.info_heading4{
background:url(../img/heading_border5.png) left bottom no-repeat;
margin-bottom:9px;
}

.info_heading4 h4{
color:#577bc9;
}

.link_list_box{
padding:10px 3px 3px;
overflow:hidden;
min-height:247px;
}

.link_list_box ul li{
width:50px;
padding:9px 3px 10px;
float:right;
}

.link_list_box ul li a{
color:#797979;
text-decoration:underline;
display:block;
line-height:12px;
text-align:center;
}

.link_list_box1 ul li{
width:108px;
height:29px;
float:right;
margin-left:12px;
padding:2px;
border:1px solid #d6dcdc;
}

.margin-b1{
margin:0 0 12px 0 !important;
}

.column2{
width:520px;
float:right;
margin-right:19px;
margin-top:10px;
}

.video_block1{
margin-bottom:25px;
}

.video_heading{
background:#80ba10;
padding:4px 50px 3px 10px;
position:relative;
height:20px;
}

.video_ico{
width:38px;
height:38px;
position:absolute;
right:8px;
top:-11px;
z-index:999
}

.video_heading h4{
color:#fff;
font-size:16px;
float:right;
}

.block2{
position:relative;
z-index:999;
}

.video_heading a{
float:left;
color:#fff;
text-decoration:underline;
}

.video_box{
border:1px solid #d2d2d2;
border-top:0;
padding:0 3px;
padding-top:6px;
overflow:hidden;
}

.video_list{
float:right;
height:250px;
overflow:auto;
width:150px;
direction:ltr;
margin-top:10px;
}

.video_list_part{
height:45px;
overflow:hidden;
margin-bottom:5px;
direction:rtl;
margin-right:4px;
}

.video_list_pic{
width:55px;
height:37px;
float:right;
padding:3px;
border:1px solid #d4d8d8;
}

.video_list_part h3{
padding:12px 7px 12px 0;
overflow:hidden;
color:#797979;
font-size:12px;
}

.video_play1{
width:337px;
float:right;
margin-right:10px;
padding-top:12px;
}


.video_play_pic1{
width:329px;
height:193px;
position:relative;
padding:3px;
border:1px solid #d1c6c1;
}

.play_icon{
background:url(../img/play_icon.png) left top no-repeat;
width:50px;
height:41px;
position:absolute;
left:50%;
top:50%;
margin:-20px 0 0 -25px;
}

.video_play1 h2{
color:#fff;
background:#577bc9;
text-align:left;
padding:3px 10px;
font-size:12px;
}

.block2{
margin-bottom:5px;
overflow:hidden;
}

.heading5 {
padding:5px 0 7px 0;
color:#577bc9;
margin-bottom:16px;
}

.horoscopes {
width:307px;
float:right;
}

.horoscope_row {
margin-bottom:13px;
}

.horoscope_block {
background:url(../img/img1.jpg) no-repeat left top;
color:#797979;
font-weight:bold;
text-align:center;
padding:46px 0 5px 0;
width:67px;
float:right;
margin-left:13px;
}

.horoscope_block2 {
background:url(../img/img2.jpg) no-repeat left top;
}

.horoscope_block3 {
background:url(../img/img3.jpg) no-repeat left top;
}

.horoscope_block4 {
background:url(../img/img4.jpg) no-repeat left top;
margin-left:0;
}

.horoscope_block5 {
background:url(../img/img5.jpg) no-repeat left top;
}

.horoscope_block6 {
background:url(../img/img6.jpg) no-repeat left top;
}

.horoscope_block7 {
background:url(../img/img7.jpg) no-repeat left top;
}

.horoscope_block8 {
background:url(../img/img8.jpg) no-repeat left top;
margin-left:0;
}

.horoscope_block9 {
background:url(../img/img9.jpg) no-repeat left top;
}

.horoscope_block10 {
background:url(../img/img10.jpg) no-repeat left top;
}

.horoscope_block11 {
background:url(../img/img11.jpg) no-repeat left top;
}

.horoscope_block12 {
background:url(../img/img12.jpg) no-repeat left top;
margin-left:0;
}

.social_block {
width:198px;
float:right;
margin-left:15px;
}

a.facebook_link {
display:block;
margin-bottom:5px;
}

.social_icon {
margin:0;
padding:0 10px 0 0;
list-style:none;
}

.social_icon li {
margin:0;
padding:5px 5px 0 5px;
display:block;
float:right;
color:#797979;
font-weight:700;
}

.social_icon li a {
border:none;
font-size:12px;
color:#797979;
line-height:15px;
font-weight:700;
}

.social_icon li.first {
padding-top:0;
}

.heading6 {
background:url(../img/headingbg1.png) no-repeat left bottom;
font-size:20px;
padding:0 0 10px 0;
margin:0 0 19px 0;
line-height:20px;
color:#8a3066;
}

.photo_galary {
margin:0 0 12px 0;
padding:0;
list-style:none;
}

.photo_galary li {
width:111px;
text-align:center;
margin:0;
padding:0 15px;
display:block;
float:right;
color:#797979;
font-weight:700;
}

.photo_galary li a {
display:block;
margin-bottom:7px;
}


.photo_galary li.first {
padding-right:0;
}

.photo_galary li.last {
padding-left:0;
}

.block5 {
margin-bottom:12px !important;
}

.block6 {
margin-bottom:5px;
}







/* footer
---------------------------------*/
.footer{
border-top:3px solid #80ba10;
padding:21px 0 20px;
}
.list_blog{
border-left:1px solid #d1c6c1;
list-style:none;
padding:0 28px 0 30px;
min-height:218px;
float:right;
}
.list_blog li{
font-size:12px;
text-align:right;
line-height:18px;
}

.list_blog li a{
color:#797979;
}	 

.list_blog li.heading{
color:#80ba10;
font-weight:bold;
margin:-6px 0 5px;
}
.list_blog.last{
border:none;
}

/*inner1-start
-------------------------------------------------------*/

.breadcrumb li{
float:right;
}

.breadcrumb li a{
color:#797979;
}

.breadcrumb li a:hover, .breadcrumb li a.active{
color:#8a3066;
font-weight:700;
}


.column3{
width:166px;
float:right;
}

.breadcrumb.flush_orange li a:hover, .breadcrumb.flush_orange li a.active{
color:#FF7300;
}

.click3{
background:url(../img/click_bg4.png) left top repeat-x;
text-align:center;
height:19px;
padding:3px 0;
border:1px solid #dbdbdb;
border-radius:5px;
position:relative;
behavior:url(PIE.htc);
margin-bottom:19px;
}

.click3 a{
color:#577bc9;
font-size:14px;
display:block;
font-weight:700;
}

.click3 a img{
position:relative;
top:2px;
}

.right_list_bar1{
margin-bottom:14px;
}

.right_list_bar1 h4{
color:#fff;
font-size:14px;
background:#8a3066;
padding:5px 15px;
border-radius:5px 5px 0 0;
position:relative;
behavior:url(PIE.htc);
}

.right_list_bar1_cont{
border:1px solid #d2d2d2;
border-top:0;
border-radius:0 0 5px 5px;
position:relative;
behavior:url(PIE.htc);
padding:5px 0;	
}

.right_list_bar1_cont_box{
padding:0;
margin:0;
list-style:none;
}

.right_list_bar1_cont_box li{
padding:5px 0;
margin:0 14px;
background:url(../img/side_list_bg.jpg) left center no-repeat;
}

.right_list_bar1_cont_box li a{
color:#797979;
}

.adsense5{
margin-bottom:9px;
text-align:center;
}

.adsense5 a{
display:block;
text-align:center;
}

.login_box{
margin-bottom:15px;
}

.login_box h4{
font-size:18px;
background:#419fd3;
border-radius:5px 5px 0 0;
position:relative;
behavior:url(PIE.htc);
color:#fff;
text-align:center;
padding:5px 10px;
}

.login_cont{
border:1px solid #d2d2d2;
border-radius:0 0 5px 5px;
position:relative;
behavior:url(PIE.htc);
padding-top:8px;
}

.input_text4{
float:none;
width:127px;
margin:0 auto 8px;
display:block;
}

.login_cont_link{
background:#f5f5f5 url(../img/login_link_bg.png) left bottom repeat-x;
border-top:1px solid #d2d2d2;
padding:10px;
color:#419fd3;
border-radius:0 0 5px 5px;
}

.login_cont_link a{
color:#797979;
text-decoration:underline;
}

.adsense6 img{
border-radius:5px;
position:relative;
behavior:url(PIE.htc);
}

.column4{
width:295px;
float:right;
margin-right:17px;
padding-left:20px;
border-left:1px solid #d1c6c1;
}

.middle_column_top{
border-bottom:2px solid #929292;
}

.img_box4{
padding:3px;
border:1px solid #d2d8d8;
line-height:1%;
margin-bottom:8px;
}

.middle_column_top h2{
font-size:18px;
color:#8a3066;
margin-bottom:5px;
}

.text_box3{
line-height:18px;
font-size:12px;
color:#797979;
margin-bottom:15px;
}

.social_link{
overflow:hidden;
border-bottom:1px solid #d1c6c1;
margin-bottom:15px;
}

.social_link ul li{
float:right;
padding:5px 0;
margin-left:8px;
}

.social_link ul li img{
float:right;
margin-left:5px;
}

.social_link ul li a{
font-size:12px;
line-height:22px;
color:#80bf1a;
font-weight:700;
}

.middle_column_box1{
margin-bottom:19px;
}

.info_box1_part2{
padding:10px 0 12px;
}


.adsense7{
width:300px;
height:250px;
line-height:1%;
margin-bottom:20px;
}

.middle_column_box2{
overflow:hidden;
}

.img_box5_out{
width:94px;
float:right;
margin:0 6px 6px 0;
}

.img_box5_out .img_box5{
margin:0 0 8px;
} 

.img_box5_out h3{
font-family:Tahoma, Geneva, sans-serif;
color:#577bc9;
font-size:12px;
margin-bottom:3px;
}

.img_box5{
width:93px;
float:right;
border:1px solid #d0d6d6;
padding-top:3px;
text-align:center;
margin:0 5px 6px 0;
direction:ltr;
}

.img_box5 img{
display:block;
margin:0 auto 3px;
}

.no-mg-r{
margin-right:0 !important;
}

.img_box5 h4{
background:url(../img/info2_pic_bg.jpg) left bottom repeat-x;
color:#797979;
border-top:1px solid #d2d2d2;
padding:3px 10px;
line-height:14px;
direction:ltr;
}

.middle_column_box3{
border-bottom:1px solid #d1c6c1;
padding-bottom:5px;
margin-bottom:19px;
}

.text_box4{
line-height:18px;
font-size:12px;
color:#797979;
}

.social_block1{
margin-bottom:5px;
}

.info_heading5{
margin-bottom:0 !important;
}

.column5{
width:443px;
float:right;
padding-right:22px;
border-right:1px solid #d1c6c1;
position:relative;
right:-1px;
}

.column5_block1{
overflow:hidden;
margin-bottom:25px;
}

.heading6 del{
font-size:26px;
text-decoration:none;
}

.column5_block1 h4{
color:#577bc9;
font-size:18px;
margin-bottom:10px;
}

.small_text1{
color:#80ba10;
font-size:12px;
margin-bottom:2px;
}

.text_box5{
font-size:14px;
color:#797979;
line-height:18px;
margin-bottom:15px;
}

.img_box6{
width:435px;
padding:3px;
border:1px solid #d3d8d8;
margin-bottom:10px;
direction:ltr;
}

.img_box6 img{
display:block;
}

.social_block2{
border-bottom:1px solid #d1c6c1;
overflow:hidden;
margin-bottom:10px;
padding-bottom:4px;
}

.social_link1{
float:right;
}

.social_link1 li{
float:right;
margin-left:10px;
line-height:22px;
color:#797979;
}

.social_link1 li a{
float:right;
}

.social_link2{
float:left;
}

.social_link2 li{
float:right;
margin-right:10px;

}

.small_text2{
padding-bottom:8px;
border-bottom:1px solid #d1c6c1;
margin-bottom:15px;
}

.small_text2 b{
color:#797979;
}

.text_box6{
font-size:12px;
color:#797979;
line-height:18px;
margin-bottom:20px;
}

.column5_block2{
border-bottom:1px solid #d1c6c1;
overflow:hidden;
margin-bottom:22px;
}

.column5_block2 ul li{
float:right;
margin:0 0 12px 9px;
}

.column5_block2 ul li img{
float:right;
margin-left:8px;
}

.column5_block2 ul li a{
color:#80bf1a;
font-weight:700;
line-height:23px;

}

.click_info1{
padding-bottom:13px;
border-bottom:2px solid #929292;
margin-bottom:10px;
}

.click_info1 a i{
font-style:normal;
color:#80ba10;
font-weight:700;
}

.click_info1 a{
background:url(../img/anchor_bg1.jpg) left bottom repeat-x;
border:1px solid #d4d4d4;
border-radius:5px;
color:#577bc9;
font-size:15px;
line-height:20px;
padding:8px 5px;
font-weight:700;
display:block;
text-align:center;
position:relative;
display:block;
behavior:url(PIE.htc);
}

.column5_social_link{
padding-bottom:10px;
overflow:hidden;
border-bottom:1px solid #d1c6c1;
margin-bottom:20px;
}

.column5_social_link ul li{
float:right;
margin-left:6px;
color:#797979;
}

.column5_social_link ul li a{
color:#797979;
display:block;
line-height:16px;
}

.column5_social_link ul li a img{
float:right;
display:block;
}

.column5_block3{
overflow:hidden;
padding-bottom:19px;
border-bottom:1px solid #d1c6c1;
margin-bottom:19px;
}

.img_info_box1{
width:130px;
float:right;
padding:0 0 0 13px ;
border-left:1px solid #d1c6c1;
margin-left:12px;
}

.img_info_box1 h2{
margin:0 !important; 
}

.img_box7{
width:122px;
padding:3px;
border:1px solid #d0d6d6;
margin-bottom:5px;
}

.img_box7 img{
display:block;
}

.column5_block3 h2{
color:#577bc9;
font-size:12px;
margin-bottom:10px;
}

.text_box7{
line-height:18px;
color:#797979;
margin-bottom:10px;
}

.column5_block3 ul li{
float:right;
font-size:12px;
color:#80bf1a;
margin:0 0 10px 8px;
border-left:1px solid #80bf1a;
padding-left:7px;
}

.column5_block4{}

.click2{
background:#8a3066;
color:#fff;
font-size:12px;
font-weight:700;
display:inline-block;
position:relative;
border-radius:4px;
behavior:url(PIE.htc);
padding:6px 10px 6px 15px;
line-height:17px;
margin-bottom:13px;
}

.click2 img{
float:right;
display:block;
margin:4px 0 0 5px;
}

.column5_block4 h4{
color:#797979;
font-size:12px;
}

.text_box8{
color:#797979;
font-size:12px;
margin-bottom:15px;
margin-right:20px;
}

.info_pic1{
width:95px;
margin-left:14px;
}




/*inner2
------------------------------------------------------*/

.img_box6_cont{
background:url(../img/anchor_bg2.png) left bottom repeat-x;
padding:8px 14px;
font-size:14px;
color:#797979;
font-weight:700;
border:1px solid #d2d2d2;
border-top:0;
width:413px;
direction:ltr;
text-align:right;
}

.img_box8{
margin-bottom:0 !important;
}

.heading6 i{
font-style:normal;
font-size:16px;
color:#797979;
}

.column5_block5{
border-bottom:2px solid #929292;
margin-bottom:18px;
}

.img_info_box2{
overflow:hidden;
padding-bottom:16px;
border-bottom:1px solid #d1c6c1;
margin-bottom:16px;

}

.img_box5_out1{
float:right;
width:132px;
text-align:center;
margin-left:12px;
}

.img_box9{
width:123px;
padding:3px;
border:1px solid #d0d6d6;
margin-bottom:11px;
}

.img_box9 img{
display:block;
}

.img_box5_out1 a{
display:inline-block;
background:url(../img/anchor_bg3.png) left bottom repeat-x;
padding:4px 12px;
line-height:17px;
color:#929292;
font-weight:700;
border:1px solid #d2d2d2;
border-radius:6px;
position:relative;
behavior:url(PIE.htc);
}

.img_box9_cont{
overflow:hidden;
}

.img_box9_cont h2{
color:#577bc9;
font-size:12px;
margin-top:-5px;
}

.text_box9{
color:#797979;
line-height:18px;
margin-bottom:7px;
}

.img_box9_cont ul{
clear:both;
}

.img_box9_cont ul li{
float:right;
border-left:1px solid #80bf1a;
}

.img_box9_cont ul li a{
color:#80bf1a;
font-size:12px;
margin-left:3px;
}

.small_text3{
color:#80bf1a;
}

.small_text3 i{
font-style:normal;
color:#797979;
font-weight:700;
}

.more_view_list{
overflow:hidden;
margin-bottom:19px;
}

.more_view_list ul li{
float:right;
}

.more_view_list ul li a{
background:url(../img/anchor_bg3.png) left bottom repeat-x;
color:#797979;
font-size:14px;
font-weight:700;
width:25px;
height:25px;
display:block;
border:1px solid #d2d2d2;
border-radius:6px;
position:relative;
behavior:url(PIE.htc);
text-align:center;
line-height:25px;
margin-left:9px;
}

.click4{
background:url(../img/anchor_bg3.png) left bottom repeat-x;
color:#797979;
font-size:14px;
font-weight:700;
float:left;
width:51px;
border:1px solid #d2d2d2;
border-radius:6px;
position:relative;
behavior:url(PIE.htc);
text-align:center;
line-height:25px;
}




.middle_column_box4
{
margin-bottom:20px;
}
.box_left
{
float:right;
margin:0 0 0 16px;
}
.box_left a
{
text-decoration:none;
}
.box_right
{
float:right;
}
.box_right a
{
text-decoration:none;
}
.middle_column_box5
{
margin-bottom:18px;
width:298px;
clear:both;
}
.top_section
{
background:#80ba10;
padding:3px 3px 4px 10px;
margin:25px 0 0 0;
position:relative;
}
.top_section_left
{
float:left;
}
.top_section_left a
{

text-decoration:underline;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
font-weight:bold;
line-height:20px;
}
.top_section_right
{
float:right;
}
.top_section_right h2
{
margin:0 47px 0 0;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#ffffff;
font-weight:bold;
float:left;
}
.icon
{
position:absolute;
top:-15px;
right:2px;
}
.middle_section
{
border-bottom:1px solid #d1c6c1;
border-left:1px solid #d1c6c1;
border-right:1px solid #d1c6c1;
padding:3px 3px 3px 3px;
position:relative;
width:290px;
direction:ltr;
}

.middle_section img{
display:block;
}


.arrow
{
position:absolute;
top:36%;
left:42%;
}
.arrow a
{
text-decoration:none;
}
.last_section
{
background:#577bc9;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
font-weight:bold;
padding:8px 11px 7px;
}

/*inner3
-------------------------------------------------------*/

.img_box10 h4{
text-align:right;
}

.cont_box2{
width:auto;
margin:0 0 19px 0;
padding:0;
border:0;
float:none;
}

.cont_box2 ul li{
width:59px;
}

.middle_column_box4{
margin-bottom:10px;
}

.input_text5{
float:left;
}

.input_text6{
width:100px;
margin:0 0 7px 0;
}

.input_text7{
width:106px;
margin:0 10px 7px 0;
}

.input_text8{
width:184px;
}

.column4_block1{
clear:both;
}

.comments_box1{
padding-bottom:6px;
border-bottom:1px solid #d1c6c1;
margin-bottom:8px;
}

.comments_box1 h2{
color:#577bc9;
font-size:12px;
margin-bottom:5px;
line-height:14px;
}

.text_box11{
float:right;
color:#797979;
width:240px;
margin-left:15px;
}

.comments_box1 a{
color:#80ba10;
font-size:12px;
text-decoration:underline;
font-weight:700;
}

.heading7{
margin-bottom:0;
position:relative;
z-index:999;
}

.info_list1{
margin-bottom:19px;
border-bottom:1px solid #d1c6c1;
border-radius:0;
}

.slide_pager{
overflow:hidden;
margin:13px auto auto; 
position:relative;
padding:0 28px;
}

.slide_pager ul li{
float:right;
width:110px;
height:70px;
padding:3px;
border:1px solid #d4d9d9;
margin-left:16px;

}

.slide_pager ul li a img{
}

.prev2{
background:url(../img/prev2.png) left top no-repeat;
width:8px;
height:16px;
display:block;
position:absolute;
left:0;
top:50%;
margin-top:-8px;
}

.next2{
background:url(../img/next2.png) left top no-repeat;
width:8px;
height:16px;
display:block;
position:absolute;
right:0;
top:50%;
margin-top:-8px;
}

.message_box1 h2{
padding-left:115px;
}

/*inner4
-------------------------------------------------------*/

.click5{
margin-bottom:14px;
}

.click5 a{
background:url(../img/anchor_bg.png) left bottom repeat-x;
padding:30px 20px;
text-align:center;
color:#577bc9;
font-size:16px;
display:block;
font-weight:700;
border:1px solid #d2d2d2;
border-radius:6px;
position:relative;
behavior:url(PIE.htc);
}

.breadcrumb1 ul li a:hover, .breadcrumb1 ul li a.active{
color:#377374;
}

.column6{
width:775px;
margin-right:24px;
float:right;

}

.column6_block1{
overflow:hidden;
}

.forums_list{
padding-bottom:13px;
border-bottom:1px solid #d1c6c1;
overflow:hidden;
margin-bottom:12px;
}

.forums_list h3{
font-family:Tahoma, Geneva, sans-serif;
font-size:12px;
color:#757575;
font-weight:400;
float:right;
width:76px;
padding-left:10px;
}

.forums_list_box{
padding:0;
margin:0;
list-style:none;
}
.forums_list_box li{
background:url(../img/anchor_bg3.png) left bottom repeat-x;
float:right;
width:19px;
height:19px;
text-align:center;
line-height:19px;
border:1px solid #d2d2d2;
border-radius:4px;
position:relative;
behavior:url(PIE.htc);
margin-left:10px;
}

.forums_list_box li a{
color:#757575;
display:block;
}

.adsense8{
margin-bottom:42px;
}

.adsense8 img{
display:block;
}

.column6_sub_column1{
width:592px;
float:right;
padding-left:21px;
margin-left:21px;
border-left:1px solid #d7d7d7;
}

.column6_block2{
overflow:hidden;
}

.text_box12{
font-size:14px;
color:#797979;
line-height:18px;
margin-bottom:14px;
}

.img_info_block1{
overflow:hidden;
padding-bottom:19px;
border-bottom:1px solid #d1c6c1;
margin-bottom:15px;
}

.img_info_box3{
width:270px;
float:right;
padding-left:19px;
border-left:1px solid #d1c6c1;
margin-left:19px;
}

.img_box11{
float:right;
width:107px;
border:1px solid #d3d9d9;
padding:3px;
direction:ltr;
margin-left:18px;
}

.img_box11 img{
display:block;
}

.img_box11_info{
overflow:hidden;
}

.img_box11_info h2{
color:#80ba10;
font-size:14px;
margin-bottom:5px;
}

.text_box13{
margin-bottom:2px;
font-size:12px;
line-height:18px;
color:#797979;
}

.img_box11_info_link{
overflow:hidden;
}

.img_box11_info_link a{
float:right;
font-size:12px;
color:#80ba10;
font-weight:700;
line-height:20px;
display:block;
margin-left:3px;
}

.img_box11_info_link img{
float:right;
display:block;
margin-left:3px;
}

.column6_block3{
border-bottom:2px solid #929292;
margin-bottom:19px;
}

.heading8{
font-size:18px;
}

.others_nav1{
overflow:hidden;
padding-bottom:10px;
border-bottom:1px solid #d1c6c1;
margin-bottom:10px;
}

.others_nav1_box{
padding:0;
margin:0;
list-style:none;
}

.others_nav1_box li{
float:right;
padding-left:6px;
border-left:1px solid #797979;
margin:0 0 6px 6px;
line-height:12px;
font-size:12px;
}

.others_nav1_box li a{
color:#797979;
}

.form_box1{
overflow:hidden;
padding-bottom:10px;
border-bottom:1px solid #d1c6c1;
margin-bottom:13px;
}

.input_text9{
width:110px !important;
margin:6px 0 0 7px;
}

.input_text10{
width:73px;
margin:6px 0 0 7px;
}

.form_box1 h2{
background:url(../img/heading_bg2.png) left top no-repeat;
width:94px;
height:34px;
text-align:center;
line-height:34px;
font-size:14px;
color:#fff;
font-weight:700;
float:right;
margin-left:9px;
}

.input_btn2{
background:url(../img/input_btn_bg2.png) left top no-repeat;
width:52px;
margin:5px 0 0 0;
float:right;
}

.posted_box{
border:1px solid #d1c6c1;
margin-bottom:13px;
direction:ltr;
}

.posted_box_heading{
overflow:hidden;
background:#f4f4f4;
padding:5px 10px 5px 30px;
border-bottom:1px solid #d2d2d2;

}

.posted_box_heading h4{
font-size:14px;
color:#797979;
font-weight:400;
}

.posted_box_cont{
overflow:hidden;
padding:10px;
direction:rtl;
}

.posted_box_cont h4{
color:#797979;
font-size:14px;
line-height:18px;
font-weight:400;
margin-bottom:5px;
}

.text_box14{
color:#797979;
font-size:12px;
line-height:18px;
}

.column6_block4{
overflow:hidden;
margin-bottom:14px;
}

.column6_block4_list{
padding:0;
margin:0;
list-style:none;
width:100%;
}

.column6_block4_list{
padding:0;
margin:0;
list-style:none;
}

.column6_block4_list li{
float:right;
margin-left:10px;
color:#797979;
}

.column6_block4_list li a{
display:block;
float:right;
}

.click6{
color:#fff;
background:#8a3066;
font-size:13px;
font-weight:700;
padding:5px;
}

.social_link3{
margin:3px 2px 0 0;
}

.social_link4{
margin:5px 2px 0 0;
}

.left1{
float:left !important;
}

.column6_block5{
border-bottom:1px solid #d2d2d2;
margin-bottom:19px;
}

.column6_block5 h4{
background:#8a3066;
font-size:16px;
color:#fff;
padding:4px 10px;
}

.posted_box1{
overflow:hidden;
padding:9px 10px 11px;
border-left:1px solid #d2d2d2;
border-right:1px solid #d2d2d2;
direction:ltr;
}

.posted_box1 a{
float:right;
color:#797979;
font-size:13px;
margin-left:9px;
text-decoration:underline;
display:block;
}

.posted_box1 i{
float:left;
font-style:normal;
color:#797979;
font-size:13px;
display:block;
}

.click7{
color:#80ba10 !important;
}

.posted_box2{
background:#f4f4f4;
}

.adsense9 img{
display:block;
}

.column6_sub_column2{
width:140px;
float:right;
}

.info_box6{
border:1px solid #c9cdce;
border-radius:4px;
text-align:center;
margin-bottom:11px;
box-shadow:0px 0px 2px #c9cdce;
background:#fff;
position:relative;
behavior:url(PIE.htc);
}

.info_box6 h2{
font-size:16px;
color:#b58a5f;
text-align:center;
padding:5px;
line-height:16px;	
}

.info_box6 h3{
text-align:center;
color:#212121;
font-size:14px;
margin:0 15px 2px;
line-height:18px;
}

.small_text4{
color:#484848;
font-size:14px;
line-height:18px;
margin:0 5px 2px 5px;
}

.info_box6 a{
background:url(../img/anchor_bg3.png) left bottom repeat-x;
color:#484848;
font-size:14px;
padding:5px 10px;
line-height:18px;
border:1px solid #e7e7e7;
border-radius:10px;
position:relative;
behavior:url(PIE.htc);
display:inline-block;
margin-bottom:8px;
}

.no-width{
width: auto !important; 
}

.top_heading4 i{
font-weight:400;
}

/*inner5
------------------------------------------------------*/

.right_list_bar1 h4.hd1{
background:#577bc9 ;
border-radius:5px 5px 0 0;
position:relative;
behavior:url(PIE.htc);
}

.adsense10{
float:none;
margin-bottom:19px;
}

.border-left{
border-left:1px solid #d1c6c1;
border-right:none;
padding-left:17px;
margin-left:17px;
}

.info_box7{
margin:0 auto 19px;
width:155px;
}

.right_list_bar1_cont_box1{
padding:4px 0 0;
}

.right_list_bar1_cont_box1 li{
background:none;
padding:6px 0;
margin:0 8px;
display:block;
clear:both;
}

.right_list_bar1_cont_box1 li i{
font-style:normal;
display:block;
color:#797979;
padding:2px 0;
}


.top_heading h2
{
background:url(../img/seprator.png) no-repeat left top;
margin:0 0 0 18px;
padding:0 0 10px 10px;
font-family:Arial, Helvetica, sans-serif;
font-size:25px;
color:#577bc9;
font-weight:bold;
float:right;
}
.top_heading i
{
font-style:normal;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#797979;
}
.social_top
{
padding:9px 0 6px;
border-bottom:1px solid #d1c6c1;
}
.social_icon2
{
margin:0px;
padding:0px;
list-style:none;
width:281px;
float:left;
}
.social_icon2 li
{
float:left;
padding:0 10px 0 0;
}
.social_icon2 li a
{
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
color:#797979;
}
.social_top_right
{
width:140px;
float:right;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#80bf1a;
line-height:20px;
}
.social_top_right i
{
font-style:normal;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#797979;
font-weight:bold;
}
.top_text
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#797979;
line-height:18px;
padding:15px 0;
}
.box_area
{
background:#FFF url(../img/box_bg.jpg) repeat-x left bottom;
border:1px solid #d2d2d2;
padding:6px 0 3px;
width:65px;
border-radius:3px;
text-align:center;
float:right;
margin:0 0 13px 8px;
}

.box_area img{
display:block;
margin:0 auto;
}


.box_area.first
{
margin:0 0 13px;
}
.box_area h2
{
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#647877;
font-weight:bold;
line-height:14px;
}
.top_heading h3
{
margin:0 0 12px;
padding:6px 0 7px;
font-size:16px;
color:#6284cd;
font-weight:bold;
}
.nav_area
{
padding:0 0 13px;
border-bottom:1px solid #d1c6c1;
}
.nav_item
{
margin:0px;
padding:0px;
list-style:none;
}
.nav_item li
{

float:left;
}
.nav_item li.last1
{
margin:0px;
padding:0;
background:none;
font-size:12px;
color:#797979;
font-weight:bold;
}
.nav_item li a
{
background:url(../img/seprator1.png) no-repeat left center;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#80bf1a;
font-weight:normal;
padding:0 7px 0 8px;
}
.nav_item li a.first1
{
background:none;
}
.text_area
{
padding:13px 0 0;
margin-bottom:3px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#797979;
line-height:18px;
}
.text_area1
{
margin-bottom:20px;
}
.astro_box
{
padding:13px 0;
border-bottom:1px solid #d1c6c1;
}
.astro_box_text
{
width:343px;
float:right;
margin:0 11px 0 0;
}
.astro_box_text h2
{
margin:0 0 5px;
padding:0px;
font-size:18px;
color:#577bc9;
font-weight:bold;
line-height:10px;
}
.time
{
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
color:#797979;
margin-bottom:6px;
}
.text_area2
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#797979;
font-weight:normal;
line-height:18px;
}

.box_nav_outer{
border-bottom:1px solid #d1c6c1;}

.box_nav
{
margin:0px;
padding:8px 85px 9px 0;

float:right;
}
.box_nav li
{
float:right;
padding:0;
margin:0 0 0 18px;
}


.box_nav li a
{
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#80ba10;
font-weight:700;
}
.spacer
{
height:19px;
}

.img_info_box4{
border-bottom:2px solid #929292;
overflow:hidden;
margin-bottom:5px;
}

.img_info_box4_top{
overflow:hidden;
}

.img_info_box4_top_cont{
float:right;
width:120px;

}

.img_info_box4_top_cont h4{
font-size:18px;
color:#577bc9;
line-height:14px;
margin-bottom:8px;
}

.img_box12{
width:158px;
height:103px;
float:right;
padding:3px;
border:1px solid #d3d9d9;
float:left;
direction:ltr;
}

.img_box12 img{
display:block;
}

.info_heading6{
background:url(../img/heading_border1.png) left bottom no-repeat;
margin-bottom:5px;
}

.info_heading6 h4{
color:#577bc9;
}

.img_box13{
width:99px;
padding:3px;
border:1px solid #d3d9d9;
float:right;
margin-left:19px;
}

.img_box13 img{
display:block;

}

.info_box8{
width:135px;
}

.column6_sub_column3{
width:auto;
overflow:hidden;
}

.top_section1{
margin-top:5px;
}

.slider_box1{
width:auto;
overflow:hidden;
clear:both;
margin-bottom:15px;
}

.slide_cont1{
width:96px;
margin-left:3px;
}

.select_box2{
width:92px;
}

.slider_part1{
padding:0;
}

.slide_img_area1 h4{
font-size:11px;
}


/*inner6
-------------------------------------------------------*/

.forums_list1{
overflow:hidden;
padding-bottom:10px;
}

.forums_list1_box{
padding:0;
margin:0;
list-style:none;
}

.forums_list1_box li{
float:right;
width:89px;

position:relative;
behavior:url(PIE.htc);
margin:0 0 9px 9px;
}

.forums_list1_box li a{
background:#f4f4f4;
color:#757575;
font-size:14px;
display:block;
text-align:center;
border:1px solid #d4d4d4;
line-height:24px;
border-radius:5px;
position:relative;
behavior:url(PIE.htc);
}

.forums_list1_box li a:hover, .forums_list1_box li a.active{
background:#377374;
border:1px solid #377374;
color:#fff;
}

.margin-l-n{
margin-left:0 !important;
}

.info_heading h2{
font-size:26px;
float:right;
padding-bottom:10px;
}

.info_heading7{
background:url(../img/heading_border4.png) left bottom no-repeat;
}

.info_heading7 h2{
color:#377374;
}

.select_box3{
width:113px;
}

.select_block1 h4{
background:url(../img/click_bg5.png) center center no-repeat;
width:94px;
}

.input_btn3{
background:url(../img/input_btn_bg3.png) center center no-repeat;
width:52px;
}

.no-padding_r{
padding-right:0 !important;
}

.top_heading2{
background:url(../img/heading_border1.png) left bottom no-repeat !important;
}

.top_heading3{
margin-bottom:10px;
}

.top_heading3 h2{
float:right;
color:#377374;
font-size:20px;
}

.top_heading3 i{
font-style:normal;
color:#377374;
font-size:16px;
line-height:20px;
display:block;
font-weight:700;
float:right;
margin-right:10px;
}

.text_box15{
font-size:14px;
color:#797979;
line-height:18px;
margin-bottom:5px;
}

.img_info_block2{
overflow:hidden;
}

.img_info_block2_right{
width:160px;
float:right;
}

.img_cont1{
float:left;
width:272px;	
}

.img_cont_pic1{
width:263px;
padding:3px;
border:1px solid #d2d8d8;
direction:ltr;
}

.img_cont_pic1 img{
display:block;
}

.social_top1{
margin-bottom:19px;
}

.img_cont_pic1_pager_block{
background:#f4f4f4;
padding:9px;
position:relative;
}

.social_icon3{
width:230px;
}

.social_top_right1{
width:175px;
}

.pager_box{
width:130px;
margin:0 auto;
overflow:hidden;
position:relative;
}

.pager1{
text-align:center;
padding:0;
margin:0;
list-style:none;
}

.pager1 li{
display:inline;
}

.pager1 li a{
display:inline-block;
color:#797979;
}

.pager1 li a:hover, .pager1 li a.active{
font-weight:700;
}

.prev3{
width:6px;
height:9px;
background:url(../img/prev3.png) left center no-repeat;
position:absolute;
left:0;
top:3px;

}

.next3{
width:6px;
height:9px;
background:url(../img/next3.png) left center no-repeat;
position:absolute;
right:0;
top:3px;
}

a.search_icon1{
width:14px;
height:14px;
display:block;
background:url(../img/search_icon1.png) left top no-repeat;
position:absolute;
left:10px;
top:9px;
}

.list_block{}

.list_block h2{
color:#577bc9;
font-size:18px;
margin-bottom:14px;
}

.list_block_part{
padding:0;
margin:0;
list-style:none;
}

.list_block_part li{
float:right;
color:#797979;
font-size:12px;
padding-right:14px;
background:url(../img/list_arrow1.png) right center no-repeat;
width:75px;
margin:0 0 20px 10px;
}

.list_block h4{
color:#797979;
font-size:12px;
}

.video_block2{
padding-top:15px;
margin-bottom:19px;
}

.video_heading1{
background:#80ba10;
padding:5px 50px 5px 10px;
position:relative;
}

.video_heading1 img{
position:absolute;
top:-14px;
right:2px;
}

.video_heading1 h4{
float:right;
color:#fff;
font-size:16px;
}

.video_heading1 a{
display:block;
float:left;
text-decoration:underline;
font-size:12px;
line-height:20px;
display:block;
font-weight:700;
color:#fff;
}

.video2_outer{
border:1px solid #d7d7d7;
padding:10px;
}

.video_box2{
width:413px;
margin:0 auto;
padding:3px;
border:1px solid #d1c6c1;
}

.video_box2 img{
display:block;
}

.video_heading_bottom{
background:#577bc9;
width:401px;
margin:0 auto;
padding:5px 10px;
}

.video_heading_bottom h4{
font-size:14px;
color:#fff;
}

.column5_block6{
border-bottom:1px solid #d1c6c1;
margin-bottom:10px;
}

.heading18{
overflow:hidden;
padding-bottom:9px;
margin-bottom:19px;
}

.heading18 h4{
font-size:16px;
line-height:15px;
float:right;
}

.heading18.lima_bdr{
background:url(../img/gallery_headingbg2.png) left bottom no-repeat;
}

.heading18 .indigo{
color:#577bc9;
}

.list_box2{
padding:0 0 5px;
margin:0;
list-style:none;
display:block;
}

.list_box2 li{
font-size:12px;
color:#797979;
padding:2px 0;
}

.list_box2 li i{
font-style:normal;
font-weight:700;
}

.click8{
background:url(../img/anchor_bg2.png) left bottom repeat-x;
display:inline-block;
color:#577bc9;
line-height:25px;
border:1px solid #d2d2d2;
border-radius:8px;
padding:0 14px;
font-weight:700;
position:relative;
behavior:url(PIE.htc);
margin-bottom:19px;
}

.social_block3{
overflow:hidden;
}

.social_list_right1{
padding:0;
margin:0;
list-style:none;
}

.social_list_right1 li{
float:right;
}

.social_list_right1 li img{
display:block;
float:right;
}

.info_box6.width160{
width:160px;
margin:0 auto 19px;
}

.adsense12{
margin-bottom:19px;
}

.adsense12 img{
display:block;
border-radius:8px;
position:relative;
behavior:url(PIE.htc);
}

.info_box6.width140{
width:138px;
}

.info_box1_part1.width130{
width:130px;
padding-left:14px;
margin-left:14px;
}

.info_box12{
margin:0 0 19px 0;
width:auto;
float:none;
padding:0 0 19px 0;
border-bottom:1px solid #d1c6c1;
}

.select_block2{
margin-bottom:19px;
}

.heading18.oracle_bdr{
background:url(../img/gallery_headingbg4.png) left bottom no-repeat;
}

.heading18 .oracle{
color:#377374;
}

.m_b13{
margin-bottom:13px;
}

.width100{
width:100px;
}

/*inner7
-------------------------------------------------------*/

.heading18 h5{
font-size:20px;
}

.post_block{
margin-bottom:19px;
}

.post_heading{
background:#377374;
padding:5px 8px;
border-radius:6px 6px 0 0;
position:relative;
behavior:url(PIE.htc);
overflow:hidden;
}

.post_heading h2{
color:#fff;
font-size:16px;
float:right;
line-height:18px;
}



.post_cont{
padding:9px;
border:1px solid #d2d2d2;
border-top:0;
overflow:hidden;
border-radius:0 0 6px 6px;
position:relative;
behavior:url(PIE.htc);

}

.post_cont_right{
width:115px;
float:right;
margin-left:14px;
}

.post_cont_right_img{
padding:3px;
border:1px solid #d3d9d9;
margin-bottom:9px;
}

.post_cont_right_img img{
display:block;
}

.click8.pad12{
padding:0 12px;
}

.text_box16{
font-size:12px;
color:#797979;
line-height:18px;
}

.post_cont_left del{
text-decoration:none;
display:block;
text-align:left;
color:#797979;
font-weight:700;
padding-left:15px;
margin-bottom:2px;
}

.social_link5 ul li{
margin-left:6px;
padding:4px 0;
}

.f_size1{
font-size:14px !important;
}

.f_size2{
font-size:16px !important;
}

.f_size3{
font-size:26px;
}

.f-size11{
font-size:11px !important;  
}

/*inner8
-------------------------------------------------------*/

.slide_cont2{
margin-left:23px;
}

.slider_box2{
width:auto;
padding-bottom:19px;
margin-bottom:19px;
border-bottom:1px solid #d1c6c1;
}

.no-margin_l{
margin-left:0px !important;
}

.sub_cont_box{
width:300px;
margin-left:35px;
float:right;
}

.heading_list1{
float:left;
padding:0;
margin:0 0 0 8px;
list-style:none;
}

.heading_list1 li{
float:right;
}

.heading_list1 li a{
color:#797979;
text-decoration:none;
}

.sub_cont_box1{
float:right;
width:295px;
margin-left:35px;
}

.block7{
padding-bottom:19px;
margin-bottom:19px;
border-bottom:1px solid #d1c6c1;
}	












/*inner9
-------------------------------------------------------*/
.heading8{
background:url(../img/headingbg2.png) no-repeat left bottom;
font-size:20px;
padding:0 0 10px 0;
margin:0 0 10px 0;
line-height:20px;
color:#577bc9;
}

.heading8 del{
font-size:26px;
text-decoration:none;
}

.heading8 i{
font-style:normal;
font-size:16px;
color:#797979;
}

.small_text3 a
{
color:#80ba10;
text-decoration:underline;
font-size:12px;
font-weight:bold;
}

.right_list_bar1 h4.bluebg
{
background:#577bc9;
}

.column5_block1.mar
{
margin:0;
}

.column4.border_rght
{
border-left:none;
border-right: 1px solid #D1C6C1;
padding-left:0;
padding-right:20px;

}

.img_info_box2.nopad
{
padding-bottom:0;
}

.info_heading5{
background:url(../img/headingbg2.png) left bottom no-repeat;
}

.info_heading h4.color{
color:#577bc9;
}

.breadcrumb1{
border-bottom:1px solid #d1c6c1;
margin-bottom:17px;
overflow:hidden;
}

.breadcrumb1 ul li{
float:right;
}

.breadcrumb1 ul li a{
color:#797979;
}

.breadcrumb1 ul li a:hover, .breadcrumb1 ul li a.active{
color:#577bc9;
font-weight:700;
}

.heading19{
background:url(../img/gallery_headingbg2.png) left bottom no-repeat !important;
}



/*inner11
-------------------------------------------------------*/

.color ul li a:hover, .color ul li a.active{
color:#397475;
}

.side_bar {
width:300px;
padding-right:15px;
border-right:1px solid #d1c6c1;
}

.side_block {
padding-bottom:19px;
border-bottom:1px solid #d1c6c1;
margin-bottom:12px;
}

.game_img {
height:250px;
margin-bottom:12px;
}

.side_heading {
margin:0;
padding:0 0 5px 0;
font-size:16px;
color:#577bc9;
}

.side_info {
font-size:13px;
color:#797979;
line-height:18px;
padding-bottom:11px;
}

.block_bottom {}

.block_price {
float:right;
padding:0 13px 0 10px;

}

.price {
background:#f4f4f4;
width:125px;
height:26px;
position:relative;
border:1px solid #d1d1d1;
border-radius:4px;
behavior:url(PIE.htc);
text-align:center;
padding-top:36px;
margin-bottom:9px;
font-size:14px;
color:#797979;
}

.price1 {
background:url(../img/price1_bg.jpg) no-repeat left top;
position:absolute;
left:-1px;
top:-1px;
line-height:29px;
font-size:16px;
color:#fff;
width:127px;
height:29px;
padding-right:13px;
text-align:center;
}

.block_price a {
background:#80ba10;
display:block;
width:127px;
height:33px;
line-height:33px;
text-align:center;
font-size:14px;
color:#fff;
border-radius:4px;
behavior:url(PIE.htc);
}

.block_img {
border:1px solid #d3d8d8;
padding:3px 3px 0px 3px;
float:right;
}

.facebook_like {
height:218px;
margin-bottom:12px;
}

.tags_heading {
background:url(../img/tags_headingbg.png) no-repeat right bottom;
margin:0 4px 11px 0;
padding:0 0 7px 0;
color:#577bc9;
font-size:16px;
}

.right_side {
width:632px;
margin-left:20px;
}

.top_heading {
background: url(../img/brdr-green-dark-big.jpg) no-repeat left bottom;
margin:0 0 15px 0;
padding:0 0 10px 0;
font-size:26px;
line-height:25px;
font-weight:bold;
color:#377374;
}

.top_heading1 {
display:inline-block;
font-size:20px;
font-weight:normal;
color:#797979;
}

.block_heading {
margin:0;
padding:0 20px 15px 0;
color:#577bc9;
font-size:22px;
}

.right_column1 {
width:210px;
margin-right:16px;
}

.date_timebox {
width:187px;
border:1px solid #d2d2d2;
border-radius:4px;
position:relative;
behavior:url(PIE.htc);
margin-bottom:12px;
}

.button_box1 {
height:82px;
padding:9px 10px 12px 9px;
position:relative;
border-bottom:1px solid #d2d2d2;
}

.button_box1 a {
background:#82bb14;
display:block;
width:169px;
height:33px;
font-size:24px;
color:#fff;
text-align:center;
line-height:33px;
border-radius:4px;
position:relative;
behavior:url(PIE.htc);
padding: 0;
}

.arrow_button {
width:169px;
height:39px;
background:url(../img/date_time_arrow.png) no-repeat right top;
padding:0 26px 0 0;
font-size:18px;
color:#fff;
line-height:39px;
text-align:center;
position:absolute;
left:8px;
top:52px;
}

.button_box2 {
background:#f4f4f4;
height:55px;
border-bottom:1px solid #d2d2d2;
font-size:14px;
color:#797979;
text-align:center;
}

.button_box2_right {
height:45px;
line-height:18px;
width:92px;
padding-top:10px;
}

.button_box2_left {
height:45px;
width:93px;
padding-top:10px;
line-height:18px;
border-right:1px solid #d2d2d2;
}

.button_box2_left span{
font-size:18px;
font-weight:700;
}

.button_box3 {
background:#fff;
height:61px;
}

.button_box3 .button_box2_right {
width:53px;
height:43px;
padding-top:18px;
}

.button_box3 .button_box2_left {
width:133px;
height:51px;
padding-top:11px;
}

.button_box4 {
height:54px;
background:#f4f4f4;
border-bottom:0;
}

.button_box4 .button_box2_right{
height:40px;
padding-top:14px;
}

.button_box4 .button_box2_left{
padding-top:8px;
height:46px;
}



.date_info {
}



.info_text {
font-size:12px;
line-height:18px;
color:#797979;
padding:0 0 13px 0;
}


.right_column2 {
width:405px;
}

.festival_img {
width:396px;
height:273px;
margin-bottom:11px;
padding:3px 3px 0 3px;
border:1px solid #d0d6d6;
}

.heading9 {
font-size:18px;
font-weight:bold;
color:#577bc9;
padding:0 0 5px 0;
}

.date {
font-size:12px;
color:#80ba10;
padding-bottom:9px;
}

.festiv_text {
font-size:12px;
color:#797979;
padding-bottom:18px;
line-height:18px;
}

.right_column2 a {
font-size:16px;
font-weight:bold;
color:#3b7677;
display:block;
float:left;
text-decoration:underline;
}

.nopadd {
padding-bottom:12px;
}

.bott_padd {
padding-bottom:23px;
}

.top_block {
padding-bottom:13px;
margin-bottom:20px;
border-bottom:3px solid #3b7677;
}

.padding1 {
padding-bottom:20px;
}

.adsense11 {
margin-bottom:10px;
}

.input_btn11 {
background: url(../img/submit_bg.png) no-repeat left top;
}

.tag_img {
width:181px;
height:70px;
position:absolute;
left:63px;
top:17px;
}

.margin_top {
margin-top:83px;
}

.bg_color {
background:#377374;
}

.right_column3{
width:190px;
margin-left:20px;
}

/*inner12
-------------------------------------------------------*/	

.f_size20{
font-size:20px;
}

.text_block1{
margin-bottom:15px;
border-bottom:2px solid #929292;
}

.date_text{
color:#80ba10;
font-size:12px;
}

.text_box17{
color:#797979;
font-size:14px;
padding-bottom:15px;
}

.social_block2_right_text{
float:right;
color:#80bf1a;

}

.social_block2_right_text i{
font-size:12px;
display:block;
float:right;
font-weight:700;
color:#797979;
font-style:normal;
}

.img_box6_view{
margin-bottom:15px;
}

.text_block2{}

.text_block2 h4{
font-size:18px;
color:#577bc9;
margin-bottom:3px;
}

.text_block2 h4 del{
text-decoration:none;
color:#797979;
font-size:14px;
}

.text_block2 h4 i{
font-style:normal;
font-size:12px;
color:#797979;
font-weight:400;
}

.click9{
background:#577bc9;
}

.writers_info1{
overflow:hidden;
float:none;
}

.adsense6{
float:none;
margin:0 auto 19px;
}






/*inner13
-------------------------------------------------------*/
.writers_info.nowidth
{
width:auto;
}

.img_box3.margin1
{
margin:0 8px 8px 0;
width:90px;
}

.spacer
{
height:12px;
}

.column5_block5.spacer1
{
margin-bottom:15px;
}

.heading8
{
background:url(../img/heading_border1.png) left bottom no-repeat;
}

.img_box5_out1 a.bttn1{
padding:4px 10px;
margin-left:3px;
display:block;
}

.bottom_border
{
border-bottom: 1px solid #D1C6C1;
padding-bottom:5px;
}

.img_box9_cont ul li a.color1
{
color:#797979;
letter-spacing:-1px;
}

.img_box9.info_pic
{
margin-top:6px;
margin-bottom:8px;
width:107px !important;
}

.block_box{
background:#f3f4f4 url(../img/dg_1.png) repeat-x;
padding:10px 3px;
border:1px solid  #dbdbdb;
clear:both;
border-radius:7px;
position:relative;
overflow:hidden;
width:290px;
behavior:url(PIE.htc);
}
.block_box_img{
float:right;
margin-right:10px;
}
.block_box_text{
margin-right:65px;
}
.block_box_text h2{
margin:-5px 0 0 0;
color:#577bc9;
font-size:16px;
padding:0px;
}
.block_box_text h5{
padding:0px;
margin:0px;
color:#797979;
display:block;
font-size:12px;
}

/*inner14
----------------------------------------------------------*/
.wrapper1
{
background:#fff;
padding:0 20px;
width:720px;
margin:0 auto;
direction:rtl;
}
.header_top_section
{
width:243px;
margin:0 auto;
padding:13px 0 23px;
}
.header_top_section a
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#797979;
text-decoration:underline;
}
.logo2
{ 
float: right;
height: 85px;
margin: 10px 7px 0 0;
width: 214px;
}
.left
{
left:-21px;
top:-24px;
}
.banner_area2
{
min-height:104px;
}
.banner_middle
{
width:209px;
font-size:28px;
color:#7591d1;
font-weight:normal;
float:right;
margin:29px 21px 0 0;
}
.nav2
{
margin:0 0 10px 0;
}
.nav2 ul
{
margin:0px;
padding:0px;
list-style:none;
}
.nav2 ul li
{
padding:0 9px 0 12px;
}
.nav2 ul li a
{
font-size:12px;
}
.top_box
{
padding:0 0 10px;
border-bottom:1px solid #ebebeb;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#797979;
font-weight:normal;
}
.top_box_left
{
width:283px;
float:left;

}
.top_box_right
{
width:270px;
float:right;
}
.left_contant
{
width:222px;
float:left;
padding:15px 0 0;
}
.left_contant a
{
margin-bottom:15px;
display:block;
}
.right_contant
{
width:488px;
padding:12px 0 0 10px;
float:right;
}
.time1
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#80ba10;
margin-bottom:8px;
}
.time1 h2
{
font-size:18px;
color:#577bc9;
font-weight:bold;
margin:0 0 8px;
padding:0px;
}
.text_area3
{
font-size:12px;
color:#797979;
line-height:18px;
margin-bottom:18px;
}
.text_area4 h2
{
margin:0 0 10px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#577bc9;
font-weight:bold;
}
.text_area4
{
margin:0 0 14px;
padding:0px;
}
.text_area6
{
margin-bottom:12px;
}
.column5_block2 ul li.last2
{
margin:0 0 0px 0;
}
.nav3
{
padding-top:12px;
border-top: 1px solid #D1C6C1;
margin-bottom:18px;
}
.nav3 ul li
{
margin-left:19px;
}
.nav3 ul li img
{
margin-left:10px;
}
.box_area1
{
background:#fff url(../img/box_area1_bg.jpg) repeat-x left bottom;
border-bottom:1px solid #ebebeb;
margin:0 0 14px 0;
padding:0 0 17px;
}
.box_outer
{
background:url(../img/box_img_bg.jpg) no-repeat right top;
padding:6px 6px 0 0;
width:130px;
float:right;
margin:0 10px 0 0;
}
.box_outer.pad3
{
margin:0px;
}
.img_info_top
{
font-size:12px;
color:#80bf1a;
margin-bottom:7px;
padding:2px 0 0 0;
}
.text_box1 a
{
font-size:12px;
color:#80bf1a;
font-weight:bold;
padding:16px 0 0 0;
display:block;
}
.bottom_area
{
padding:0px 0 17px;
border-bottom:1px solid #ebebeb;
border-top:1px solid #ebebeb;
margin-bottom:15px;
}
.bottom_area_left
{
width:250px;
float:left;
padding:18px 0 0;
}
.bottom_area_right
{
width:452px;
float:right;
}
.noboder
{
border:none;
margin:0px;
padding:0px;
}
.heading1
{
margin-bottom:10px;
}
.heading1 h4
{
padding-bottom:8px;
}
.block3
{
padding-bottom:17px;
border-bottom:1px solid #ebebeb;
}
.part1
{
border-bottom:1px solid #ebebeb;
padding-bottom:14px;
padding-top:7px;
}
.part1 h2
{
font-size:12px;
font-weight:bold;
color:#6284cd;
margin-bottom:2px;
}
.img_info h6
{
font-size:12px;
font-weight:bold;
color:#80bf1a;
}
.mar
{
margin:5px 0 0 10px;
}
.play
{
padding:18px 0 12px;
}
.side_bar_nav
{
margin:0px;
padding:6px 0 8px;
list-style:none;
border-bottom:1px solid #ebebeb;
}
.side_bar_nav li
{
background:url(../img/arrow.png) no-repeat right 5px;
padding:0 14px 7px;
}
.side_bar_nav li a
{
text-decoration:none;
font-size:12px;
color:#797979;

display:block;
}
.pad1
{
padding-top:12px;
}
.box1
{
margin:18px 0 0;
width:220px;
}
.bottom_box
{
padding:13px 0 16px;
border-bottom:1px solid #ebebeb;
}
.text1
{
font-size:12px;
color:#797979;
line-height:16px;
}
.text2 a
{
font-size:12px;
color:#80bf1a;
float:left;
font-weight:bold;
margin:0 0 0 4px;
}
.nobor
{
border:none;
padding-bottom:0px;
}
.box_img_area
{
padding:0 0 28px;
border-bottom:3px solid #80ba10;
margin-bottom:15px;
}
.box_img
{
width:131px;
float:right;
margin:0 15px 0 0;
}
.box_img.mat
{
margin:0px;
}
.box_img h2
{
background:#377374;
font-size:14px;
color:#ffffff;
font-weight:bold;
padding:0 10px 0 0;
margin:0 0 2px;
line-height:28px;
}
.box_img h2.col
{
background:#8a3066;
}
.box_img h2.col1
{
background:#ff7300;
}
.box_img h2.col2
{
background:#577bc9;
}
.img_box1.img
{
margin-bottom:1px;
}
.footer_nav
{
padding-bottom:17px;
border-bottom:1px solid #ebebeb;
margin-bottom:13px;
}
.footer_nav ul
{
margin:0px;
padding:0px;
list-style:none;
}
.footer_nav ul li
{
background:url(../img/seprator2.png) no-repeat left center;
float:right;
padding:0 22px 0 21px;
}
.footer_nav ul li.pad2
{
background:none;
}
.footer_nav ul li a
{
font-size:12px;
color:#797979;
font-weight:bold;
}
.footer_text
{
width:639px;
margin:0 auto;
text-align:center;
font-size:12px;
color:#797979;
line-height:18px;
padding:0 0 44px;
}

.img_box14{
width:auto;
}

/*inner15
-------------------------------------------------------*/

.margin-b2{
margin:0 0 10px 0 !important;
}

.button1 {
background:url(../img/button_bg.jpg) repeat-x left top;
width:164px;
height:25px;
margin-bottom:20px;
border-radius:0 0 8px 5px;
}

.button1 a {
background:url(../img/icon1.png) no-repeat 115px center;
width:108px;
height:24px;
font-size:14px;
font-weight:bold;
line-height:24px;
padding-right:56px;
border:1px solid #dbdbdb;
border-radius:5px;
display:block;
color:#577bc9;
position:relative;
behavior:url(PIE.htc);
}

.heading18 {
background:url(../img/gallery_headingbg2.png) no-repeat right bottom;
color:#80ba10;
}

.button_row1 {
margin:0 0 21px 0;
padding:0;
list-style:none;
}

.button_row1 li {
margin:0 9px 0 0;
padding:0 0 0 0;
display:block;
float:right;
}

.button_row1 li a {
background:#f4f4f4;
border:1px solid #d4d4d4;
font-size:14px;
color:#757575;
border-radius:5px;
display:block;
width:87px;
height:24px;
line-height:24px;
text-align:center;
behavior:url(PIE.htc);
position:relative;
}

.button_row1 li a:hover, .button_row1 li a.active {
background:#80ba10;
color:#fff;
border:1px solid #80ba10;
}

.button_row1 li.nomargin {
margin-right:0;
}

.right_boxes {
float:right;
width:139px;
border-left:1px solid #d1c6c1;
}

.right_imgbox {
width:112px;
height:59px;
padding:3px;
margin-bottom:15px;
border:1px solid #d0d6d6;
}

.video_img {
margin-bottom:11px;
}

.last2 {
margin-bottom:0;
}

.padding_b2 {
padding-bottom:0;
border-bottom:0;
}

.border_b {
border-bottom:1px solid #d1c6c1;
margin-bottom:12px;
}

.form_section {
width:778px;
padding-bottom:11px;
border-bottom:1px solid #d1c6c1;
margin-bottom:15px;
}

.form_button1 {
width:104px;
height:34px;
float:right;
margin-left:10px;
}

.form_button1 a {
width:104px;
height:34px;
background:url(../img/click_bg2.png) no-repeat right top;
display:block;
color:#fff;
font-size:14px;
font-weight:bold;
line-height:34px;
text-align:center;
}

.select2 {
display:block;
float:right;
width:140px;
border-radius:5px;
behavior:url(PIE.htc);
border:1px solid #dbdbdb;
font-size:12px;
color:#797979;
padding:4px 9px 4px 4px;
margin-top:4px;
}

.text_field1 {
display:block;
float:right;
width:241px;
height:25px;
line-height:25px;
font-size:12px;
color:#797979;
border-radius:5px;
behavior:url(PIE.htc);
padding:0 9px;
border:1px solid #dbdbdb;
margin:4px 15px 0 0;
}

.submit {
width:51px;
height:26px;
display:block;
float:right;
background:url(../img/submitbg.png) no-repeat right top;
font-size:12px;
font-weight:bold;
color:#fff;
line-height:26px;
text-align:center;
border:0;
outline:0;
cursor:pointer;
margin:8px 17px 0 0;
}

.form_button2 {
float:right;
border-right:1px solid #d1c6c1;
padding:2px 13px 2px 0;
margin: 5px 13px 0 0;
}

.form_button3 a {
display:block;
background:#577bc9;
font-size:16px;
font-weight:bold;
text-align:center;
border-radius:6px;
width:149px;
height:27px;
line-height:27px;
color:#fff;
position:relative;
behavior:url(PIE.htc);
}

.text {
padding-bottom:5px;
font-weight:700;
}

.faceb_like {
padding:0 0 0 0;
margin-bottom:7px;
height:20px;
float:right;
padding:0 0 0 0;
font-size:12px;
font-weight:bold;
color:#577bc9;
}

.like1 {
float:right;
}

.like2 {
float:right;
margin:3px 3px 0 5px;
}

.like3 {
float:right;
}

.time_line {
font-size:12px;
font-weight:bold;
color:#797979;
}

.time2 {
float:right;
text-align:right;
}

.date2 {
float:left;
}

.padd_bott {
padding-bottom:15px;
}

.paadd_top {
padding-top:10px;
}

.width2 {
width:617px !important;
}

.breadcrumb2 li a:hover, .breadcrumb2 li a.active{
color:#81bb13;
}

/*inner18
-------------------------------------------------------*/
.info_box8 {
margin:0 auto 14px auto;
width:157px;
}

.column8 {
width:782px;
float:right;
margin-right:20px;
}

.heading13 {
background:url(../img/heading_bg3.png) no-repeat right bottom;
font-size:26px;
color:#577bc9;
padding:0 0 9px 0;
margin:0 0 19px 0;
}

.list2 {
width:166px;
float:right;
}

.list3 {
padding:5px 0;
}

.gallery1 {
width:598px;
float:right;
margin-right:18px;
}

.heading11 {
margin:0;
padding:0 0 8px 0;
font-size:26px;
color:#577bc9;
}

.heading12 {
font-size:14px;
color:#797979;
margin:0;
padding:0 0 13px 0;
font-weight:normal;
}

.slider_area {

}

.slider {
margin-bottom:18px;
border:1px solid #d2d8d8;
padding:3px;
width:583px;
height:321px;
}

.nxt_prv {
width:150px;
margin:0 auto 18px auto;
}

.previous {
float:right;
background:url(../img/next_buttonbg.jpg) repeat-x left bottom;
width:65px;
margin-right:15px;
border-radius:7px;
behavior:url(PIE.htc);
}

.previous a {
background:url(../img/prev_arrow.png) no-repeat 7px 9px;
display:block;
width:52px;
height:26px;
font-size:14px;
font-weight:bold;
color:#797979;
line-height:26px;
padding-right:13px;
border:1px solid #d2d2d2;
border-radius:7px;
behavior:url(PIE.htc);
}

.next {
float:right;
background:url(../img/next_buttonbg.jpg) repeat-x left bottom;
width:65px;
border-radius:7px;
behavior:url(PIE.htc);
}

.next a {
background:url(../img/next_arrow.png) no-repeat 51px 9px;
display:block;
width:38px;
height:26px;
font-size:14px;
font-weight:bold;
color:#797979;
line-height:26px;
padding-right:27px;
border:1px solid #d2d2d2;
border-radius:7px;
behavior:url(PIE.htc);
}

.gallery_images {
width:598px;
margin-bottom:18px;
}

.pic_box {
width:103px;
height:65px;
float:right;
margin-right:9px;
border:1px solid #d4dada;
padding:3px;
}

.first2 {
margin-right:0;
}

.social_area {
overflow: inherit;
padding-bottom:15px;
}

.gallery2 {
}

.gallery_heading {
background:url(../img/gallery_headingbg1.png) no-repeat right bottom;
margin-bottom:19px;
height:26px;
}

.heading14 {
background:#ff7300;
width:228px;
height:26px;
line-height:26px;
margin:0;
padding:0 7px 0 0;
font-size:18px;
color:#fff;
float:right;
}

.headinh15 {
margin:0;
padding:4px 0 0 13px;
font-size:14px;
color:#797979;
float:left;
font-weight:normal;
}

.top_gallery {
padding-bottom:0;
}

.photo_block {
width:139px;
float:right;
font-size:12px;
color:#797979;
margin-right:20px;
}

.galary_photo {
width:131px;
height:71px;
border:1px solid #d2d8d8;
padding:3px;
margin-bottom:9px;
}

.nomarg {
margin-right:0;
}

.photo_galary2 {
border-bottom:1px solid #d1c6c1;
padding-bottom:9px;
margin-bottom:13px;
}

.gallery_heading1 {
background:url(../img/gallery_headingbg2.png) no-repeat right bottom;
}

.gallery_heading1 .heading14 {
background-color:#80ba10;
}

.gallery_heading2 {
background:url(../img/gallery_headingbg3.png) no-repeat right bottom;
}

.gallery_heading2 .heading14 {
background-color:#c01213;
}

.gallery_heading3 {
background:url(../img/gallery_headingbg4.png) no-repeat right bottom;
}

.gallery_heading3 .heading14 {
background-color:#377374;
}

.gallery_heading4 {
background:url(../img/gallery_headingbg5.png) no-repeat right bottom;
}

.gallery_heading4 .heading14 {
background-color:#a20078;
}

.main_bottom {
border-top:1px solid #d1c6c1;
padding-top:16px;
}

.main_column1 {
width:296px;
float:right;
margin-left:30px;
}

.main_column2 {
width:312px;
float:right;
margin-left:30px;
}

.main_column3 {
width:298px;
float:right;
}

.nobdr {
border:0;

}

.heading15 {
background:url(../img/heading_border1.png) left bottom no-repeat;
padding-bottom:10px;
margin-bottom:0;
}

.heading16 {
font-size:16px;
color:#577bc9;
margin:0;
padding:0 0 0 0;
display:block;
float:right;
}

.heading17 {
padding-top:0;
}

.info_heading11 {
margin-bottom:21px;
}

.info_box11 {
padding:15px 0;
}

.marg_bott {
margin-bottom:10px;
}

.margin_bottom {
margin-bottom:10px;
}

.line {
line-height:18px;
}

.middle_column_box6 {
border-bottom: 1px solid #D1C6C1;
padding-bottom:44px;
}

.width {
width:99px;
margin-left:18px;
}

/*Kuponim Pnimi
-------------------------------------------------------*/
.banner_left_box.withcut{margin-top:82px; position:relative; overflow:visible;}
.headercut {
width:181px;
height:70px;
position:absolute;
top:-69px;
left:61px;
}
.input_btn1.blue{background:url(../img/submit_bg.png);}
.main_menu_area.dark {background:#377374;}
.breadcrumb.dark-green li a:hover, .breadcrumb.dark-green li a.active{color:#397475;}

.order-block-title {
background: url(../img/brdr-green-big.jpg) no-repeat bottom left;
position:relative;
padding-bottom:8px;
margin-bottom:18px;
}
.order-block-title h2 {
padding:0px;
margin:0px;
font-size:18px;
font-weight:bold;
color:#577bc9;
}

.order-block-title.dark {background: url(../img/brdr-green-dark-big.jpg) no-repeat bottom left; padding-bottom:10px;}
.order-block-title.dark h2 { font-size:26px; color:#377374;}

.offer {
background: url(../img/offer-bg.png) no-repeat left top;
width:139px;
height:87px;
color:#fff;
padding-top:10px;
font-size:16px;
text-align:center;
position:absolute;
top:30px;
left:41px;
}
.offer span {
font-size:22px;
font-weight:bold;
}

.order-block {
padding-bottom:38px;
border-bottom:1px solid #d1c6c1;
margin-bottom:20px;
}

.ur-order-head {
padding:0px;
margin:0px;
list-style:none;
}
.ur-order-head li {
float:right;
font-size:14px;
font-weight:bold;
color:#797979;
margin-bottom:15px;
}
.ur-order-head li.col1 {width:336px;}
.ur-order-head li.col2 {width:106px;}
.ur-order-head li.col3 {width:88px;}

.order-list1 {
width:335px;
float:right;
}
.order-list2 {
width:106px;
float:right;
}
.order-list3 {
width:88px;
float:right;
font-size:14px;
font-weight:bold;
color:#797979;
}

.have-acc-block {
padding-bottom:20px;
border-bottom:1px solid #d1c6c1;
margin-bottom:20px;
}
.have-acc-block.nobrdr {border-bottom:0px; margin-bottom:0px;}
.have-acc-block h3 {
padding:0 0 18px 0;
margin:0 0 18px 0;
border-bottom:1px solid #d1c6c1;
font-size:14px;
font-weight:bold;
color:#797979;
}

.have-acc-right {
width:427px;
float:right;
border-left:1px solid #d1c6c1;
}

.have-acc-right.width3{
width:440px;
}

.have-acc-right.width3 label{
width:104px;
display:inline-block;	
}

.have-acc-right.payment {
width:342px;
border-left:0px;
}
.have-acc-right.payment label {width:141px;}
.have-acc-right.payment2 {
width:283px;
border-left:0px;
float:left;
}
.have-acc-right.payment2 label {width:82px;}
.have-acc-right.nobrdr {border-left:0px;}
.have-acc-right label {
display:block;
float:right;
width:100px;
height:27px;
margin-bottom:14px;
line-height:20px;
font-size:12px;
font-weight:bold;
color:#797979;
}
.have-acc-right label sup {color:#ff0000; position:relative; top:3px; display:inline-block}

.acc-field {
background:#fff;
width:294px;
height:15px;
line-height:15px;
float:right;
padding:5px;
margin-bottom:14px;
border:1px solid #d2d2d2;
font-size:12px;
color:#797979;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}
.acc-field.pay {width:189px;}

.acc-txtarea {
background:#fff;
width:294px;
height:65px;
float:right;
padding:5px;
resize:none;
overflow:auto;
margin-bottom:14px;
border:1px solid #d2d2d2;
font-size:12px;
color:#797979;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.acc-link1 {
display:block;
float:right;
line-height:27px;
font-size:12px;
font-weight:bold;
color:#82bb14;
text-decoration:underline;
margin-left:18px;
}
.acc-link2 {
display:block;
float:right;
line-height:27px;
font-size:12px;
font-weight:bold;
color:#797979;
text-decoration:underline;
margin-left:18px;
}

.acc-btn {
background:#80ba10;
width:78px;
height:27px;
float:left;
border:0px;
font-size:14px;
color:#fff;
cursor:pointer;
margin-left:30px;
font-family:Arial, Helvetica, sans-serif;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.have-acc-txt {
width:365px;
float:right;
padding-right:28px;
color:#797979;
line-height:18px;
}

.client-list {
float:right;
margin:0 0 14px 14px;
}
.client-list.nomrgn { margin-left:0px;}

.order-btm-box-bg {
background:#fff;
border:1px solid #d2d2d2;
margin-bottom:20px;
padding:1px;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
direction:ltr;
}

.order-btm-box {
background:url(../img/order-btm-box.jpg) repeat-x bottom left;
padding:19px;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
direction:rtl;
}

.order-btm-right {float:right;}
.order-btm-right label {
display:block;
float:right;
color:#797979;
}
.order-checkbox {
width:13px;
height:13px;
float:right;
margin:0 0 17px 11px;
}

.order-btm-btn {
background:#80ba10;
width:148px;
height:43px;
border:0px;
font-size:16px;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
cursor:pointer;
float:left;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

/*tofes Serilanka
-------------------------------------------------------*/
.breadcrumb.green li a:hover, .breadcrumb.green li a.active{color:#80ba10;}
.order-block-title.big h2 {font-size:26px; color:#577bc9; padding-bottom:5px;}

.payment-right-row {
border-bottom:1px solid #d2d2d2;
padding-bottom:10px;
margin-bottom:25px;
}
.payment-right-row.nobrdr {
border-bottom:0px;
padding-bottom:0px;
}
.payment-right-row h3 {
padding:0 0 25px 0;
margin:0px;
font-weight:bold;
font-size:16px;
color:#577bc9;
}
.payment-right {
width:670px;
padding-left:24px;
float:right;
border-left:1px solid #d2d2d2;
margin-bottom:30px;
color:#797979;
}
.leagues.track-pay-top { color:#797979; padding-bottom:10px; margin-bottom:20px; border-bottom:1px solid #d2d2d2;}	
.leagues h3 {
padding:0px;
margin:0 0 20px 0;
font-size:12px;
font-weight:bold;
}
.leagues label {
display:block;
float:right;
font-size:14px;
margin-left:15px;
}
.leagues label.small {
width:620px;
font-size:12px;
margin-left:0px;
}
.leagues strong {
display:block;
margin-bottom:20px;
font-weight:normal;
color:#ff0000;
}

.payment-support {
width:235px;
float:left;
}
.payment-support-pic {
background:#fff;
padding:4px 4px 0 4px;
height:209px;
border:1px solid #d2d2d2;
border-bottom:none;
position:relative;
border-radius:5px 5px 0px 0px;
behavior:url(PIE.htc);
direction:ltr;
}
.payment-support a {
background:url(../img/support-call.jpg) repeat-x left top;
height:40px;
display:block;
text-align:center;
line-height:40px;
color:#fff;
font-size:18px;
position:relative;
border-radius:0px 0px 5px 5px;
behavior:url(PIE.htc);
}

.payment-btm-txt {width:735px; font-size:14px; color:#797979;}
.payment-btm-txt h3 {
padding:0 0 15px 0;
margin:0px;
font-size:16px;
font-weight:bold;
color:#577bc9;
}
.payment-btm-txt p {
padding:0 0 25px 0;
margin:0px;
line-height:20px;
}
.payment-btm-txt p span {
font-weight:bold;
color:#ff0000;
}

/*Tofes Taslom Slika
-------------------------------------------------------*/
.payment-top {padding-bottom:24px; color:#797979;}
.payment-top h3 {
padding:0 0 15px 0;
margin:0px;
font-weight:bold;
font-size:16px;
color:#577bc9;
}
.payment-top h4 {
padding:0 0 20px 0;
margin:0px;
font-weight:bold;
font-size:14px;
}
.payment-top h4 span { font-weight:normal;}
.payment-top h5 {
padding:0 0 10px 0;
margin:0px;
font-weight:bold;
font-size:14px;
}
.payment-top p {
padding:0px;
margin:0px;
line-height:18px;
}

.hotel-list {margin-bottom:20px;}
.hotel-list h2 {
padding:0 0 20px 0;
margin:0px;
font-size:20px;
font-weight:bold;
color:#577bc9;
}

.hotel-box-col {
width:207px;
float:right;
margin-left:20px;
border:1px solid #d2d2d2;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}
.hotel-box-col.nomrgn {margin-left:0px;}
.hotel-box-pic {
background:#fff;
padding:3px;
border-bottom:1px solid #d2d2d2;
position:relative;
border-radius:5px 5px 0px 0px;
behavior:url(PIE.htc);
}

.hotel-box-info {
background:#fefefe url(../img/hotel-box-bg.jpg) repeat-x bottom left;
border:1px solid #fff;
padding:10px 0 20px 0;
text-align:center;
color:#797979;
position:relative;
border-radius:0px 0px 5px 5px;
behavior:url(PIE.htc);
}
.hotel-box-info h3 {
padding:0 0 7px 0;
margin:0px;
font-size:14px;
font-weight:bold;
color:#577bc9;
}
.hotel-box-info h4 {
padding:0 0 7px 0;
margin:0px;
font-size:14px;
font-weight:bold;
}
.hotel-box-info p {
padding:0 0 7px 0;
margin:0px;
line-height:18px;
}
.hotel-box-info h5 {
padding:0 0 15px 0;
margin:0px;
font-size:14px;
font-weight:bold;
color:#577bc9;
}
.hotel-box-info h5 span {font-size:16px;}
.hotel-box-info a {
background:#80ba10;
width:148px;
height:35px;
line-height:35px;
display:block;
margin:0 auto;
font-size:16px;
color:#fff;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.book-hotel-box {
background:#fff;
padding:1px;
margin-bottom:20px;
border:1px solid #d2d2d2;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}
.book-hotel-box.nomrgn {margin-bottom:0px;}

.book-hotel {
background:#fefefe url(../img/hotel-box-bg.jpg) repeat-x bottom left;
padding:18px;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}
.book-hotel h3 {
padding:0 0 15px 0;
margin:0px;
font-size:16px;
font-weight:bold;
color:#577bc9;
}

.sale-title {
padding:0px;
margin:0px;
list-style:none;
display:block;
height:25px;
}
.sale-title li {
width:105px;
float:right;
font-weight:bold;
}

.sale-list {
float:right;
margin-left:14px;
}
.sale-field {
background:#fff;
width:79px;
height:15px;
line-height:15px;
padding:5px;
border:1px solid #d1d1d1;
float:right;
margin-left:14px;
color:#797979;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.add-btn {
background:url(../img/add-btn.jpg) no-repeat left top;
width:105px;
height:25px;
line-height:25px;
text-align:center;
float:right;
border:1px solid #d2d2d2;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}
.add-btn a {
background:url(../img/plus.png) no-repeat center right;
font-weight:bold;
color:#797979;
padding-right:15px;
}
.sale-btn {
background:#80ba10;
width:78px;
height:27px;
float:left;
border:0px;
font-size:14px;
color:#fff;
cursor:pointer;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.hotel-fight-right {float:right; width:400px;}
.flight-schedule {
padding:0px;
margin:0px;
list-style:none;
}
.flight-schedule li {
width:168px;
float:right;
display:block;
margin-bottom:10px;
}
.flight-schedule li span {font-weight:bold;}

.hotel-fight-fare {
width:110px;
float:left;
text-align:center;
}
.hotel-fight-fare h4 {
padding:0 0 5px 0;
margin:0px;
font-size:16px;
font-weight:bold;
color:#797979;
direction:ltr;
}
.hotel-fight-fare span {
font-weight:bold;
font-size:20px;
display:block;
color:#80ba10;
margin-bottom:20px;
direction:ltr;
}
.hotel-fight-fare a {
background:#80ba10;
width:78px;
height:27px;
line-height:27px;
margin:0 auto;
display:block;
font-size:14px;
color:#fff;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

/*Rikuz Forum
-------------------------------------------------------*/
.breadcrumb.rikuzi li a:hover, .breadcrumb.rikuzi li a.active{ color:#377374;}
.rikuz-field {
width:114px;
height:15px;
line-height:15px;
float: right;
padding:5px;
font-size:12px;
color:#797979;
border:1px solid #d2d2d2;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.select_block1.rikuzi h4{background:url(../img/click_rikuzi.png) center center no-repeat;}
.column5_block3 h3{color:#577bc9; font-size:12px;}

.rikuz-age-area {
border-bottom:1px solid #d1c6c1;
margin-bottom:20px;
padding-bottom:15px;
}

.rikuz-age-cols {
width:193px;
float:right;
}
.rikuz-age-cols h3 {
padding:0 0 5px 0;
margin:0px;
font-size:16px;
font-weight:bold;
color:#577bc9;
}

.rikuz-cols-list {
padding:0px;
margin:0px;
list-style:none;
}
.rikuz-cols-list li { line-height:25px;}
.rikuz-cols-list li a {color:#797979;}

.rikuz-box-area {margin-bottom:20px;}
.rikuz-box-cols {
width:246px;
float:right;
margin-left:18px;
}
.rikuz-box-cols.nomrgn {margin-left:0px;}
.rikuz-box-cols h3 {
background:#8a3066;
height:27px;
line-height:27px;
padding:0 9px 0 9px;
margin:0px;
font-size:16px;
font-weight:bold;
color:#fff;
}

.rikuz-box-info-bg {
border:1px solid #d2d2d2;
border-top:0px;
padding:12px;
}

.rikuz-box-info {
width:100px;
display:block;
float:right;
margin-left:20px;
}
.rikuz-box-info.nomrgn {margin-left:0px;}
.rikuz-box-info li { line-height:25px;}
.rikuz-box-info li a {color:#797979;}

.login-manage-box {margin-bottom:15px;}
.login-manage-box h2 {
background:#419fd3;
height:33px;
line-height:33px;
padding:0px;
margin:0px;
font-size:18px;
font-weight:bold;
color:#fff;
text-align:center;
position:relative;
border-radius:5px 5px 0px 0px;
behavior:url(PIE.htc);
}

.login-manage-bg {
border:1px solid #d2d2d2;
position:relative;
border-radius:0px 0px 7px 7px;
behavior:url(PIE.htc);
}
.login-manage-form {padding:9px; border-bottom:1px solid #d2d2d2;}
.login-manage-field {
background:#fdfefe;
width:133px;
height:14px;
line-height:14px;
border:1px solid #dbdbdb;
font-size:12px;
margin-bottom:8px;
color:#797979;
padding:5px;
position:relative;
border-radius:5px;
behavior:url(PIE.htc);
}

.login-manage-link {
background:url(../img/manage-btm.jpg) repeat-x bottom left;
height:31px;
line-height:31px;
text-align:center;
border:1px solid #fff;
border-top:0px;
position:relative;
border-radius:0px 0px 5px 5px;
behavior:url(PIE.htc);
}

.login-manage-link a {
font-weight:bold;
color:#797979;
text-decoration:underline;
margin:0 2px;
}
.login-manage-link a:hover, .login-manage-link a.selected {
color:#419fd3;
text-decoration:none;
}

/*Peiluyot
-------------------------------------------------------*/
.peiluyot-title {
background:url(../img/heading_border3.png) no-repeat bottom left;
padding-bottom:8px;
}
.peiluyot-title h2 {
float:right;
padding:0px;
margin:0px;
font-size:26px;
font-weight:bold;
color:#ff7300;
}
.peiluyot-title ul {
padding:5px 0 0 10px;
margin:0px;
list-style:none;
display:block;
float:left;
}
.peiluyot-title ul li {float:left; border-right:1px solid #797979; line-height:12px;}
.peiluyot-title ul li.nobrdr { border-right:0px;}
.peiluyot-title ul li a { color:#797979; padding:0px 9px;}

.peiluyot-top-link-bg {
padding-bottom:10px;
border-bottom:2px solid #929292;
margin-bottom:19px;
}
.peiluyot-top-link {
background:#f4f4f4;
padding:9px;
position:relative;
border-radius:0px 0px 0px 7px;
behavior:url(PIE.htc);
}
.peiluyot-top-link ul {
padding:0px;
margin:0px;
list-style:none;
}

.peiluyot-top-link ul li {float:right; margin-left:8px; border-left:1px solid #797979; margin-bottom:7px; line-height:12px;}
.peiluyot-top-link ul li.nobrdr {margin-left:0px; border-left:0px;}
.peiluyot-top-link ul li a { color:#797979; padding-left:7px;}

.img_info_box2.dbl-brdr{border-bottom:2px solid #929292;}
.img_box5_out1 span {
color:#80ba10;
display:inline-block;
padding-top:10px;
}

.peiluyot-pic-dtl {overflow:hidden; color:#797979;}
.peiluyot-pic-dtl h2 {
padding:0px;
margin:-4px 0 0 0;
font-size:14px;
font-weight:bold;
color:#577bc9;
}
.peiluyot-pic-dtl h3 {
padding:0 0 2px 0;
margin:0px;
font-size:12px;
font-weight:normal;
color:#80ba10;
}
.peiluyot-pic-dtl p {
padding:0 0 6px 0;
margin:0 0 9px 0;
line-height:18px;
border-bottom:1px solid #d1c6c1;
}

.peiluyot-cont {
padding:6px 0 0 0;
margin:0px;
display:block;
float:right;
direction:ltr;
}
.peiluyot-cont li {
float:right;
padding-left:6px;
margin-left:6px;
border-left:1px solid #797979;

}
.peiluyot-cont li.nobrdr {border-left:0px;}
.peiluyot-cont li a {color:#797979; direction:ltr !important;}
.peiluyot-cont li.msg a { background:url(../img/social_icon21.jpg) no-repeat center right; padding-right:22px;}
.peiluyot-cont li.call a { background:url(../img/icon-call.jpg) no-repeat center right; padding-right:19px;}

.peiluyot-cont-tag {
background:url(../img/blue-tag.jpg) no-repeat left top;
width:50px;
height:24px;
line-height:24px;
float:left;
font-size:14px;
font-weight:bold;
color:#fff;
text-align:left;
padding-left:10px;
}

.peiluyot-cont-btm {color:#80ba10; padding-top:8px;}
.peiluyot-cont-btm strong {color:#797979; margin-left:5px; font-weight:bold;}

.rose-week {
padding:0px;
margin:0px;
list-style:none;
}
.rose-week li {
padding-bottom:10px;
margin-bottom:10px;
border-bottom:1px solid #d1c6c1;
}
.rose-week li h5 {
padding:0px;
margin:0px;
font-weight:bold;
font-size:12px;
}
.rose-week li h5 a {color:#577bc9;}
.rose-week li span {
display:block;
float:right;
color:#797979;
}
.rose-week li strong {
display:block;
float:left;
font-weight:bold;
}
.rose-week li strong a {color:#80ba10; text-decoration:underline;}
.middle_column_box2.more-mrgn { margin-bottom:10px;}

.img_box20{
width:107px;
}

.img_box5_out2{
width:120px;
}

.img_box5_out2 a{ margin-bottom:3px; padding:4px 13px; margin-left:0px;}

.margin1{
margin-bottom:20px;
}

.p_r1{
padding:0 10px;
width:75px !important;
}

.width4{
width:430px !important;
}

.m-l1{
margin-left:10px;
}

.block8{
padding:0 2px;
}

.no-margin-b{
margin-bottom:0 !important;
}

.p_r2{
width:131px !important;
padding-right:10px;
}

.payment3{
margin-left:20px;
}

.m-l2{
margin-left:8px;
}

.m-b1{
margin-bottom:12px !important;
}

.list5 li{ margin-top:6px;}

.list5 li a{ font-size:14px;}

.m-b2{ margin-bottom:25px;}

.m-b3{ margin-bottom:15px;}

.m-b4{ margin-bottom:6px;}

.m-b5{ margin-bottom:10px !important;}

.m-b6{ margin-bottom:19px !important;}	

.img_box5_out3{
width:118px;
}

.hd2{ font-size:14px !important; }

.input_btn10{
background:url(../img/submitbg.png) center center no-repeat;
width:52px;
}

.select_box4{
height:27px;
}

.input_text16{
width:100px !important;
height:19px;
}

.click10{
background:url(../img/click10_bg.jpg) left top no-repeat;
width:100%;
height:46px;
}

.click10 a{
text-align:left;
display:block;
padding:5px 0 0 35px;
font-size:14px;
color:#577bc9;
font-weight:700;
}


span.hmscountdown
{
    font-size: 11pt;
}


