/*#field_10_1 ,#field_10_2 ,#field_10_7 ,#field_10_4 ,#field_10_8 ,#field_10_9 ,#field_10_12 ,#field_10_10 ,#field_10_11 ,#field_10_13 ,#field_10_14{
    width :20%;
}
 #input_10_1 , #input_10_2 , #input_10_7 , #input_10_4, #input_10_8 ,#input_10_9 , #input_10_12, #input_10_10, #input_10_11, #input_10_13, #input_10_14{
   width: 170px; !important;
}
#field_9_6 ,#field_9_17 ,#field_9_18 ,#field_9_19  ,#field_9_20 ,#field_9_3 ,#field_9_7 ,#field_9_8 ,#field_9_5 ,#field_9_10, #field_9_9, #field_9_11, #field_9_12, #field_9_13, #field_9_14, #field_9_15, #field_9_16{
    width :20%;
}
 #input_9_6 , #input_9_17 , #input_9_18 , #input_9_19, #input_9_20 ,#input_9_3 , #input_9_7, #input_9_8, #input_9_5, #input_9_10, #input_9_11, #input_9_12, #input_9_13, #input_9_14, #input_9_15, #input_9_16 {
   width: 170px; !important;
}

.ginput_container ginput_container_text, ginput_container ginput_container_phone{
    width: 25% !important;
}
.ginput_container.ginput_container_email{
        height: 0px !important;
        margin-top: -28px !important;
}
.ginput_container.ginput_container_post_title{
    height: 39px;
    margin-top: -35px;

}

ul#gform_fields_9{
    position: relative !important;
    top: -170px !important;
}
#field_9_3{
    float: left !important;
    margin-top: -40px;
    padding-left: 430px;
}
#field_9_8{
    float: left !important;
    margin-top: -1px;
    padding-left: 430px;
    
}
#field_9_10{
    float: left !important;
    margin-top: -66px;
    padding-left: 430px;
    
}
li#field_9_8{
    height: 61px !important;
}
.ginput_container.ginput_container_post_title{
        margin-top: -29px !important;
}
#input_9_9{
    width: 300px;
    position: relative;
    top: -30px;
}

textarea#input_9_11{
    position: relative;
    top: -61px;
    float: left;
    margin-left: -139px;
    width: 513px !important;
}
#field_9_12.gfield_description{
    float: left;
    margin-left: -352px;
    width: 316px;
    position: relative;
    top: -38px;
}
li#field_9_11{
    position: relative;
    top: -50px;
}
.ginput_container.ginput_container_textarea{
    width:513px !important;
}
#field_10_12{
    float: left !important;
    margin-top: -363px;
        position: relative;
    padding-left: 430px;
}
#field_10_10{
    float: left !important;
    margin-top: -299px;
        position: relative;
    padding-left: 430px;
}
#field_10_14{
    float: left !important;
    margin-top: -236px;
        position: relative;
    padding-left: 430px;
        height: 60px;
}
#field_10_11{
    float: left !important;
    margin-top: -167px;
        position: relative;
    padding-left: 430px;
}
#field_10_13{
    float: left !important;
    margin-top: -100px;
        position: relative;
    padding-left: 429px;
}
#field_10_9{
    position: relative;
    padding-left: 300px;
}
#input_10_14{
    margin-top: -100px;
}
#field_10_1{
    float: right !important;
   
   
}
#input_10_11_1_container{
    padding-top: 35px;
}
input#input_10_13{
    position: relative;
    top: -38px
}
.gform_footer.top_label {
     height: 0; 
}
#input_10_11{
    height: 86px;
    margin-top: -73px;
}
#input_9_8{
    position: relative;
    top: -35px;
}
   */
.gform_fields input, .gform_fields select {
    width: 80% !important;
    display: inline-block;
    padding: 4px !important;
}

.ginput_container.ginput_container_email input {
    float: right;
}


.gform_fields li {
    width:50%;
    display: inline-block;
    margin-bottom:10px;
}
.gform_fields .artdesc{
    width:100%;
}
.charleft.ginput_counter {
    display: none;
}
.gform_fields select {
    font-size: 20px !important;
}
.gform_heading {
    margin: 0 !important;
    padding: 0 !important;
}
.gform_wrapper {
    margin: 0 !important;
}
.gform_footer.top_label {
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}
.page-id-557 pre.language-html {
    padding-bottom: 0;
    padding-top: 0;
}
label#input_10_11_1_label {
    display: none;
}
div#input_10_11 {
    height: 61px;
    margin: 0 !important;
}
#field_10_11{
    float: left !important;
    position: relative;

}
input#input_10_14 {
    position: relative;
    top: -21px;
}
input#input_10_13 {
    position: relative;
    top: -28px;
}
span#input_10_11_1_container {
    margin: 0 !important;
    position: relative;
    top: -53px;
}
ul#gform_fields_9 {
    position: relative;
    top: -124px;
}
input#input_9_6 {
    position: relative;
    top: -35px;
}
li#field_9_3 {
    position: relative;
     top: -58px; 
}
.gform_title {
    display: none;
}
#field_9_7 {
    position: relative;
    top: -90px;
}
input#input_9_7 {
    position: relative;
    top: -27px;
}
#field_9_8 {
    position: relative;
    top: -63px;
}
input#input_9_8 {
    position: relative;
    top: -27px;
}
#field_9_5 {
    position: relative;
    top: -106px
}
#field_9_10 {
    position: relative;
    top: -105px;
}
#field_9_9 {
    margin-top: -95px;
}
input#input_9_9{
     margin-top: -20px;
}
textarea#input_9_11 {
    width: 78%;
    float: left;
    margin-left: 43px;
    margin-top: -59px;
}
.gfield newimgart field_sublabel_below field_description_below {
   display: inline;
}
#field_9_13 {
   display: inherit;
}
input#input_9_12 {
    width: 47% !important;
   
}
.gfield_description{
    float: left;
    /* display: table; */
    width: 83%;
    margin-top: -45px;
    margin-left: -200px;
}
#field_9_13{
    width: 79%;

}
textarea#input_9_13{
    margin-top: -23px;
}
#field_9_21{
    display:table-cell;
    width: 94%;
}
#field_9_15{
    display:inline;
    width: 94%;
}
textarea#input_9_13{
     width: 98%;
}
textarea#input_9_15 {
    width: 78%;
}

li.gchoice_9_16_1 {
    margin-top: -49px;
}
#choice_9_16_1{
    margin-right: 8px;   
}
li#field_7_2 {
  vertical-align: top;
}
#field_7_7{
    display: block;
}
#field_7_8{
    width: 60% !important;
}
#field_7_10{
    width: 60% !important;
    display: block;
}
#field_7_12{
    display: block;
    margin-top: -38px;
}
#field_3_2{
    vertical-align: bottom;
}
#field_3_11{
    display: inline-flex;
}
#field_3_10{
    display: inherit;
    width: 60%;
}
#gform_wrapper_8 .gform_heading{
    display:none !important;
}
#gform_wrapper_8 .gform_body{
    margin-top:-50px !important;
}
#input_8_4_3_container{
    margin-top: -66px;
}
#input_8_4{
        margin-top: -62px;
}
li#field_8_6 {
margin-top: 16px;
}

#input_8_4_1_label{
    display: none;
}
li#field_8_1 {
    vertical-align: top;
}
#input_8_4_1 {
     width: 80% !important; 
}
#field_5_2 {
  vertical-align: top;
}
li#field_8_8 {
    line-height: 0px;
    position: relative;
    top:28px;
}
#field_8_3 .ginput_container.ginput_container_email{
    line-height: 0
}

#field_8_25{
    margin-bottom: -5px;
    margin-top: -182px;
    position: relative;
    top: -81px;
}
input#input_5_6 {
margin-top: -10px;
}
.ginput_container .ginput_container_post_title{
    margin-top: -26px !important;
}

ul#gform_fields_5 .ginput_container.ginput_container_post_title, #gform_fields_8 .ginput_container.ginput_container_post_title{
    line-height: 8px;
}
#field_8_5{
    margin-top: -32px;
}
#field_8_10 {
    float: inherit;
}
#field_8_10 .gfield_label{
    float:right;
    margin-top: -41px;
}
#field_8_10  .clear-multi{
    float: right;
    display: inline-table;
    line-height: 0;
    margin-top: -22px;
}
#input_8_10{
    float: left;
}
#input_8_10_1{
    margin: 0;
    position: relative;
    right: -6px;
}
i #input_8_10_1 {
    margin: 0;
    position: relative;
    right: -6px;
}
#field_8_12{
    display: block;
}
#field_8_14{
    width: 70%;
}
#field_8_15{
    display: block;
    width: 70%;
}
#field_8_18{
    display: block;
}
#field_8_24{
    display: block;
}
#field_8_22 .ginput_container.ginput_container_singleproduct, #field_8_21 .ginput_container.ginput_container_singleproduct {
    width: 89%;
    margin-right: -252px; 
}

/*event manager*/
.em-location-data-select{
    float:right !important;
}
/*submit buttons*/ 
#gform_submit_button_9{
 margin-top: -270px;   
    
}
#event-form #event-name{
    width: 20%;
}
/* form position*/
#gform_wrapper_8 .top_label .gfield_label{
    line-height: 0 !important;

}
form#gform_8 {
    margin-bottom: -81px;
}
form#gform_9{
    margin-bottom: -325px; 
}
form#gform_10 {
    margin-bottom: -87px;
    margin-top: -47px;
}

form#gform_5{
    margin-bottom: -83px;
    margin-top: -68PX;
}
label.prod-label {
    width: 45%;
    display: inline-block;
    height: 150px;
}
label.prod-label img {
    width: 100%;
    height: 66%;
}
h4.prod_head {
    color: #577bc9;
}