/* Blogim additional css for author section */
.blogim-user-author {
    margin-bottom: 21px;
    font-family: Arial, Tahoma, Consolas;
}

.blogim-user-avatar {
    padding: 3px;
    border: 1px #ccc solid;
    margin-bottom: 11px;
}

.blogim-user-avatar img {
    height: 187px;
    width: 100%;
}

.blogim-user-name {
    margin-bottom: 15px;
    font-size: 18px;
    color: #8a3066;
    font-weight: bold;
}

.blogim-user-desc {
    font-size: 12px;
    color: #797979;
    margin-bottom: 19px;
}

.blogim-user-contact {
    width: 100%;
    height: 31px;
    padding-top: 7px;
    border-top: 2px #929292 solid;
    border-bottom: 1px #d1c6c1 solid;
}

.blogim-user-contact a {
    margin-right: 5px;
    margin-left: 5px;
    color: #80bf1a;
    font-weight: bold;
}

.blogim-user-contact img {
}


/** Forms additional styles **/

/* Generic form styles */
.billing-green-btn {
    padding: 17px 21px 17px 21px;
    color: #fff;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background-color: #80ba10;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.blue-text {
    color: #577bc9;
    font-size: 14px;
    font-weight: bold;
}

.gray {
    color: #797979;
    font-weight: bold;
    font-size: 14px;
}

/* Event form without billing styles */
.billing-summary {
    font-weight: bold;
    color: #797979;
    font-size: 14px;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 1px #d1c6c1 solid;
    margin-bottom: 24px;
}

.billing-info-form .have-acc-right {
    width: 455px !important;
}

.billing-info-form .acc-field {
    width: 285px;
}

.billing-info-form textarea {
    width: 293px;
    height: 105px;
}

.billing-info-bottom {
    width: 964px;
    height: 83px;
    background: url("../img/billing-bottom-bg.gif") no-repeat;
    margin-top: 38px;
    margin-bottom: 29px;
}

.billing-info-bottom .billing-green-btn {
    float: left;
    margin: 17px 0px 20px 20px;
}

.billing-info-agreements {
    float: right;
    margin-right: 20px;
}

.billing-info-agreements p:first-child {
    margin: 20px 0px 13px 0px;
}

.billing-info-agreements p span {
    position: relative;
    top: -3px;
}

.billing-info-agreements input[type=checkbox] {
    margin-left: 11px;
}

/* Event checkout form styles */
.checkout-items {
    margin: 22px 0px 0px 0px;
}

.checkout-single-item {
    float: right;
    width: 206px;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-left: 20px;
    text-align: center;
    display: block;
    background: url("../img/box_area1_bg.jpg") repeat-x bottom;
    background-size: auto 65px;
}

.checkout-item-img {
    border-bottom: 1px #ccc solid;
    padding: 3px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 109px;

}

.checkout-single-item .billing-green-btn {
    margin: 17px auto 17px auto;
    padding: 5px 55px 5px 55px;
}

.checkout-item-details > * {
    display: block;
}

.checkout-items .checkout-single-item:last-child {
    margin-left: 0px;
}

.checkout-single-item > * {
    display: block;
    margin-bottom: 13px;
}