#mc_signup_form .mc_var_label {
    display: none;
}

#mc_signup_form .mc_input {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    border: 1px solid #dadadb;
    border-radius: 5px;
    position: relative;
    font-size: large;
    font-size: 12px;
    color: #797979;
    width: 206px;
    padding: 3px 9px;
    height: 26px;
    behavior: url(PIE.htc);
    width: 95px;
}

#mc_mv_EMAIL {
    width: 140px !important;
}

#mc_mv_FNAME {
    /*width: 126px !important;*/
    margin: 0 0 7px 0 !important;
}

#mc_mv_LNAME {
   /* width: 126px !important;*/
    margin: 0 10px 7px 0 !important;
}

.mc_signup_submit #mc_signup_submit {
    background: url(../img/input_btn_bg1.png);
    width: 47px;
    height: 25px;
    border: 0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    margin-top: 0;
    margin-right: 10px;
    font-weight: 700;
}
#tmp {
    display: none;
}

.mc_custom_border_hdr {
    display: none !important;
}
