.bx-wrapper .bx-pager {
    height: 300px!important;
}
.bx-wrapper .bx-pager {
    direction: ltr!important;
}

.bx-wrapper .bx-pager a {
    border: solid #ccc 1px;
    display: block;
    margin: 0 5px;
    padding: 0px;
    direction: ltr!important;
}
.bx-pager  {
    top: 108px!important;
    direction: ltr!important;
}

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
    border: solid #5280DD 1px;
    direction: ltr!important;
}

.bx-wrapper {

    direction: ltr!important;
}
ul.uli2{
    direction: ltr!important;
}
.slide_pager {
    overflow: hidden;
    margin: 13px auto auto;
    position: relative;
    padding: 0;
    width: 90%;
    direction: ltr;
}
.slide_pager ul li {
    float: right;
    width: 110px;
    height: 70px;
    padding: 3px;
    border: 0px solid #d4d9d9;
    margin-left: 0;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    width: 90%;
}
.bx-wrapper .bx-prev {
    left: -20px;
}
.bx-wrapper .bx-next {
    right: -20px;
}
.bx-wrapper .bx-controls-direction a {
    margin-top: -8px;
}
.bx-pager{display:none;}