body{line-height:18px;}
.payment-right{min-height:255px;}
a img{border:0;}
form{margin:0px;}
input, textarea, select{font-family:arial;font-size:12px;outline:0;}
textarea{overflow:auto;resize:none;}
a, form, p, span, div, h1, h2, h3, h4, h5, input, ul, li, ol, select, textarea{outline:none;}
input[type=submit], input[type=image], input[type="reset"], a, select{cursor:pointer;}
input[type=submit]:hover, input[type=image]:hover, input[type="reset"]:hover{filter:alpha(opacity=80);opacity:0.8;-khtml-opacity:0.8;}
table{border-collapse:collapse;}
/************************************ watermark style ****************************************/
::-webkit-input-placeholder  {color:#7B7B7B;}
:-moz-placeholder {color:#7B7B7B;}
.error::-webkit-input-placeholder  {color:red;}
.error:-moz-placeholder {color:red;}
/************************************ watermark style ****************************************/
.fw{float:right;width:100%;}
.red{color:red;}
input.error, textarea.error, select.error{
color:red;
border:1px solid red !important;
}
label.error{display:none !important;}
p{margin:0;padding:0;}
.payment-support-a{
background:url(../img/support-call.jpg) repeat-x left top;
height:40px;
display:block;
text-align:center;
line-height:40px;
color:#fff;
font-size:18px;
position:relative;
border-radius:0px 0px 5px 5px;
behavior:url(../PIE.htc);
}
.contactFormUL{
list-style:none;
padding:0;
margin:25px 10px 0 0;
float:right;
width:644px;
}
.contactFormUL li{
float:right;
width:303px;
margin:0 0 14px 19px;
}
.red{color:red;}
.labels{
font-weight:bold;
cursor:pointer;
width:82px;
line-height:27px;
float:right;
}
.inputs{
float:right;
width:199px;
height:25px;
line-height:25px;
padding:0 10px;
border:1px solid #D2D2D2;
behavior:url(../PIE.htc);
border-radius:5px;
position:relative;
color:#7B7B7B;
}
select.inputs{
width:221px;
height:27px;
}
.contactFormUL li.ta_li{
width:625px;
margin:0 0 14px 0;
}
textarea.inputs{
width:521px;
height:145px;
}
.send{
background:#80BA10;
float:left;
height:32px;
line-height:32px;
padding:0 15px;
color:#fff;
border:none;
behavior:url(../PIE.htc);
border-radius:5px;
position:relative;
font-weight:bold;
font-size:13px;
}
.y01{padding:0;}
.y02{margin:12px 0 7px 0;}
.y04{
float:right;
width:670px;
padding:0 0 19px 0;
margin:0 0 12px 0;
border-bottom:1px solid #D2D2D2;
}
.y03{width:679px;}
.y03 li{width:104px;}
.forums_list1_box.y03 li a:hover, .forums_list1_box.y03 li a.active{
background:#577BC9;
border:1px solid #577BC9;
}
.y05{padding:0 0 20px 0 !important;}
.payment-top h3.y06{
font-weight:normal;
font-size:22px;
padding:0 0 7px 0;
}
.y07{
font-size:14px;
line-height:22px;
}
.y09{float:left;}
.y08{
background:url(../img/y1.gif) right top no-repeat;
display:block;
width:230px;
height:106px;
margin:25px 0px 15px -4px;
color:#fff;
padding:10px 18px 0 0;
font-size:22px;
}
.y10 span{
background:url(../img/y2.gif) left center no-repeat;
font-weight:bold;
padding:0 0 0 20px;
font-size:29px;
line-height:29px;
}
.list_blog li a:hover{color:#80ba10;}
.payment-right{color:#797979;}
.linkk{
color:#797979;
text-decoration:underline;
}
.linkk:hover{text-decoration:none;}
.y12{
color:red;
padding:15px 0 0 0;
}
.y11{padding:10px 0 15px 0;}
.y13{
padding:0;
border:none;
}
.y14{
font-size:14px;
padding:0 0 25px 0;
}
.y14 label{
cursor:pointer;
padding:0 0 0 5px;
}
.y14 input[type="checkbox"]{
position:relative;
bottom:-2px;
margin:0 0 0 5px;
}
.y15{
width:111px !important;
margin:0 0 0 9px;
}
.y16{
width:69px;
height:27px;
}

.nostyle {
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      outline: 0 !important;
      font-size: 100% !important;
      vertical-align: baseline !important;
      background: transparent !important;
    }  

.y07.admincrm {
    background-color: #EEEEEE;
/*
    pointer-events: none;
    cursor: default;
*/
}